<html>
    <head>
        <link rel="stylesheet" href="lay7.css">
    </head>

    <body>
        <div class="page-container">
            <div class="section1">
                <div class="section1-1">
                    <div class="section1-1-1"></div>
                    <div class="section1-1-2"></div>
                </div>
                <div class="section1-2">
                    <div class="section1-2-1">
                        <div class="section1-2-1-1"></div> 
                        <div class="section1-2-1-2"></div>
                    </div>
                    <div class="section1-2-2"></div>
                </div>
            </div>
            <div class="section2">
                <div class="section2-1"></div>
                <div class="section2-2">
                    <div class="section2-2-1"></div>
                    <div class="section2-2-2"></div>
                </div>
        </div>
    </body>