div {
    /* border: 1px solid green; */
    height: 60px;
}

body {
    padding: 0px;
    margin: 0px;
}

.page-container {
    background: #202124;
    font-family: arial, sans-serif;
}

.header-container {
    height: 60px;
}

.header-body {
    float: right;
    display: flex;
    /* padding: 10px; */
    margin-top: 5px;


}


.header-gmail {
    display: flex;
    padding: 10px;
    padding-right: 5px;
    margin-top: 0px;
    align-items: center;
    height: 24px;
    padding-top: 10px;
}

.header-image {
    display: flex;
    padding: 10px;
    padding-right: 5px;
    margin-top: 0px;
    align-items: center;
    height: 24px;
    padding-top: 10px;
}

.header-icon {
    display: flex;
    padding: 10px;
    padding-right: 5px;
    margin-top: 0px;
    align-items: center;
    height: 24px;
    padding-top: 10px;
    padding-left: 8px;
}

.header-pic {
    display: flex;
    padding: 10px;
    padding-right: 5px;
    margin-top: 0px;
    align-items: center;
    height: 24px;
    padding-top: 10px;
    padding-left: 12px;
}


.header-link {

    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    font-weight: 300;
    margin-top: 2px;
    font-family: Arial, sans-serif;
}

.header-text {
    margin-top: 3px;
    margin-left: 2px;
    margin-block: 1px;
    margin-right: 2px;
    display: flex;
    height: 48px;
    width: 100px;
    padding-right: 15.6px;
    /* border: 1px solid red; */
}

.app-icon {
    height: 24px;
    width: 24px;
    padding-right: 1px;

    /* border: 2px solid blue; */


}

.header-profile-pic {
    border-radius: 100px;
    height: 32px;
    width: 32px;
    padding-left: 2px;
    /* background: purple; */
    /* padding-right: 10px; */
}

.profile-pic {
    border-radius: 50%;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border: 0px;


}

.header-img {
    margin-top: 3px;
    margin-left: 3px;
    margin-block: 1px;
    margin-right: 2px;
    display: flex;
    height: 48px;
    width: 100px;
    align-items: center;

}

/* body */

.body-container{
    height: 320px;
    /* display: flex; */
}

.image-container{
    padding: 15px;
    align-items: center;
    display: flex;
    /* width: 550px; */
    
}

.google-container{
    display: flex;
    margin-top: 5px;
    height: 200px;
    width: 900px;
    align-items: center;
    display: block;
    position: absolute;
   
}

.google-img{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    padding-left: 504px;
    padding-top: 52px;
    position: relative;


}

.Search{
    padding-left: 10px;
    width: 626px;
    margin: 0px auto;
    position: relative;
    margin-top: -8px;
    text-align: center;
    padding-top: 36px;
    padding-left: 42px;
    

}
.search-s{
    background-color: transparent;
    height: 48px;
    width: 584px;
    display: flex;
    border-radius: 24px; 
    display: block;
    border: 1px solid #ddd;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    padding: 13px;
    padding-left: 38px;
    outline: none;

  
    
}
.Search .search-bar{
    height: 25px;
    width: 40px;
    opacity: .3;
    position: absolute;
    top: 46px;
    left: 50px;
    padding-left: 5px;
    padding-bottom: 3px;
    display: flex;
    
   /* flex-direction: column; */
}




.Search .mic-bar{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 47px;
    right: 86px;
    display: flex;
    padding-right: 19.5px;
    
}


.Search .image-search{
    display:flex;
    height: 17.9px;
    width: 30px;
    padding: 1px;
    /* padding-left: 5px; */
    position: absolute;
    top: 49px;
    left: 586.5px;
    right: 20px;
}

.image-search{
    width: 20px;
    
}

.button-container{
    height: 200px;
    
}

 .button-1{
    padding-left: 515px;
    display: flex;
    padding-top: 25px;
    height: 100px;
    width: 500px;

}

.button1{
    background-color: #f8f9fa;
    border: 1px solid transparent;
    padding: 9px 15px;
    /* color: #191919; */
    color: #3c4043;
    font-size: 14px;
    border-radius: 2px ;
    display: inline-block;
    margin-right: 10px;
    margin-top: 26px;
    outline: none;
    cursor: pointer;
    display: flex;
    height: 39px;
    
    
    
    
    /* transition: border-color 100ms; */
}

.button-container .button-2{
    display: flex;
    height: 100px;
    width: 200px;
    padding-left: 4px;
    padding-top: 28.4px;
}

.button-container .button2{
    background-color: #f8f9fa;
    border: 1px solid transparent;
    padding: 9px 15px;
    /* color: #191919; */
    color: #3c4043;
    font-size: 14px;
    border-radius: 2px ;
    display: inline-block;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    display: flex;
    position: absolute;
    
    
    /* transition: border-color 100ms; */
}


.language{
    height: 200px;
    width: 900px;
    padding-left: 388px;
    padding-top: 3px;
    margin-top: -67px;
    padding-bottom: 100px;
    
}

.language-link{
    color: rgb(99, 99, 99);
    font-size: 13px;
    /* font-weight: 100; */
    font-family: arial,sans-serif;
    
} 

.language-link a{
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-left: 3px;
    text-decoration: none;


}


