<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout2</title>
    <link rel="stylesheet" href="layout2.css">
</head>
<body>
    <div class="section">
        <div class="section1">
            <div class="section3">
                <p>There are flowers of different shapes, different sizes, different colours and different fragrance.
                    Flowers add beauty to nature and to our surroundings. People love gardening their homes with different 
                    kinds of flowers. They make people smile, happy, hopeful and better. People like rose it has become a 
                    symbol of love.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.</p>
            </div>
            <div class="section4">
                <p> People love gardening their homes with different 
                    kinds of flowers. They make people smile, happy, hopeful and better. People like rose it has become a 
                    symbol of love.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowwers.</p>
            </div>
            <div class="section5">
                <p> People love gardening their homes with different 
                    kinds of flowers. They make people smile, happy, hopeful and better. People like rose it has become a 
                    symbol of love.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.</p>
            </div>

        </div>

    <div class="section2">
        <div class="section6">
            <p>
                People love gardening their homes with different 
                kinds of flowers. They make people smile, happy, hopeful and better. People like rose it has become a 
                symbol of love.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better. </p>
        </div>
        <div class="section7">
            <div class="section8">
                <p> People love gardening their homes with different 
                    kinds of flowers. They make people smile, happy, hopeful and better. People like rose it has become a 
                    symbol of love.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.</p>
            </div>
            <div class="section9">
                <p> People love gardening their homes with different 
                    kinds of flowers. They make people smile, happy, hopeful and better. People like rose it has become a 
                    symbol of love.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.</p>
            </div>
        </div>
    </div>

    </div>
    
    
</body>
</html>