
body{
    margin: 0px;
    padding: 0px;
}
.section{
    border: 2px solid rgb(54, 3, 239);
    height: 700px;
    width: 100%;
    display: flex;
}
.section1 {
    border: 1px solid red;
    height: 700px;
    width: 50%;
    
}
.section2{
    border: 1px solid red;
    height: 700px;
    width: 50%;
    
}
.section3{
    border: 1px solid black;
    height: 30%;
    width: 100%;
    overflow: scroll;
}
.section4{
    border: 1px solid rgb(23, 22, 22);
    height: 34%;
    width: 100%;
    overflow: scroll;
}
.section5{
    border: 1px solid rgb(35, 204, 216);
    height: 35%;
    width: 100%;
    overflow: scroll;
}

.section6{
    border: 1px solid rgb(236, 170, 16);
    height: 50%;
    width: 100%;
    overflow: scroll;
}
.section7{
    border: 1px solid rgb(24, 232, 232);
    height: 50%;
    width: 100%;
    display: flex;
}

.section8{
    border: 1px solid rgb(10, 41, 220);
    height: 99%;
    width: 100%;
    overflow: scroll;
}

.section9{
    border: 1px solid rgb(188, 10, 220);
    height: 99%;
    width: 100%;
    overflow: scroll;
}