@media screen and (max-width: 480px) {
    /* .Notification-Section{
        background-color: ;
    } */


    .Notification-Section-Top-Layout{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
        row-gap: 10px;
        background-color: #0f0f0f;
    }

    .Notification-Section-Top-Layout-Exit{
        display: flex;
        margin-top: 10px;
    }

    .Notification-Top-Layout-Subsection-Title{
        font-family:'Roboto';
        color: #f5f5f5;
        float: right;

    }

    .Notification-Section-Top-Layout-Subsection{
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        align-items: center;

    }

    .Notification-Section-Body-Layout{
        background-color: #f5f5f5;
    }

    .Notification-Section-Notification-headings{
        display: flex;
        flex-direction: column;
    }

    .Notification-Section-Notification-headings .Messages{
        border-radius: 0px;
        border-color: none;
        border-top: grey;
    }
}