<html>
    <head>
        <link rel="stylesheet" href="lay6.css">
    </head>

    <body>
        <div class="page-container">
            <div class="section1">
                <div class="section1-1"></div>
                <div class="section1-2"></div>
                <div class="section1-3"></div>          
            </div>
            <div class="section2">
                <div class="section2-1"></div>
                <div class="section2-2">
                    <div class="section2-2-1">
                        <div class="section2-2-1-1"></div>
                        <div class="section2-2-1-2"></div>  
                    </div>
                    <div class="section2-2-2">
                        <div class="section2-2-2-1"></div>
                        <div class="section2-2-2-2"></div>  
                    </div>
                    <div class="section2-2-3">
                        <div class="section2-2-3-1"></div>
                        <div class="section2-2-3-2"></div>  
                    </div>
                    
                </div>
                <div class="section2-3"></div>          
            </div>       
            </div>
    </body>