<html>

<body>

    <head>
        <link rel="stylesheet" href="layout5.css">
    </head>

    <div class="pagae-container">

        <div class="header">
            <div class="head1"></div>
            <div class="head2"></div>
        </div>

        <div class="body">
            <div class="left"></div>

            <div class="section">
                <div class="sec">
                    <div class="section1">
                        <div class="section1-1"></div>
                        <div class="section1-2">
                            <div class="sec1">
                                <div class="sec1-1"></div>
                                <div class="sec1-2"></div>
                                <div class="sec1-3"></div>
                                <div class="sec1-4"></div>
                            </div>
                            <div class="sec2">
                                <div class="sec2-1"></div>
                                <div class="sec2-2"></div>
                                <div class="sec2-3"></div>
                                <div class="sec2-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="section2">
                        <div class="section2-1"></div>
                        <div class="section2-2"></div>
                        <div class="section2-3"></div>
                        <div class="section2-4"></div>
                    </div>


                </div>
                <div class="section3"></div>
            </div>
            <!-- <div class="footer"></div> -->

        </div>


    </div>
</body>

</html>