.section{
    border: 1px solid black;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section1{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.section2{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.section3{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: rgb(80, 213, 218);
    overflow: scroll;
}
.section4{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: rgb(80, 213, 218);
    overflow: scroll;
}
.section5{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: rgb(80, 213, 218);
    overflow: scroll;
}
.section6{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: rgb(80, 213, 218);
    overflow: scroll;
}
.section7{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.section8{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: rgb(80, 213, 218);
    overflow: scroll;
}
.section9{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.section10{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;

}.section11{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.section12{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: aquamarine;
    overflow: scroll;
}
.section13{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: aquamarine;
    overflow: scroll;
}
.section14{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: aquamarine;
    overflow: scroll;
}

.section15{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: aquamarine;
    overflow: scroll;
}
.section16{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: aquamarine;
    overflow: scroll;
}
.section17{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: aquamarine;
    overflow: scroll;
}