.upcoming-container {
    height: 891px;
    width: 1536px;
    /* background: #f1e9ea; */
}
.upcoming-header {
    height: 110px;
    width: 1536px;
    align-items: center;
    flex-direction: column;
    display: flex;
    /* background: aliceblue; */
}
.upcoming-heading {
    height: 67px;
    width: 1536px;
    /* background: antiquewhite; */
}
.upcoming-subheading {
    height: 41px;
    width: 1440px;
    align-items: center;
    display: flex;
    justify-content: center;
}
span.upcoming-subheading-text {
    font-size: 18px;
    font-weight: 400;
}
span.upcoming-heading-text {
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.upcoming-slider {
    height: 712px;
    margin-left: 47px;
    width: 1440px;
    /* background: lavenderblush; */
}
.upcoming-slider-image {
    height: 863px;
    width: 1203px;
    margin-left: 118px;
    display: flex;
    flex-direction: column;
}
img.image {
    height: 1001px;
    width: 1203px;
}
.sector {
    height: 97.14px;
    width: 399px;
    margin-top: -947px;
    margin-left: 645px;
    margin-right: 20px;
    background-color: transparent;
}
span.sector-text-heading {
    font-size: 33.26px;
    font-weight: 600;
    color: #209541;
}
.sector-subheading {
    height: 32px;
    width: 312px;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    margin-left: 47px;
    margin-top: 11px;
}
span.sector-text-subheading {
    font-weight: 400;
    font-size: 15.69px;
    color: #209541;
}

span.sector-text-subheading {
    margin-left: 3px;
}
img.image-1 {
    height: 19.85px;
    margin-top: 3px;
    width: 15.6px;
}
.upcoming_sector_2 {
    height: 157px;
    width: 915px;
    margin-top: 249px;
    margin-left: 161px;
    display: flex;
    flex-direction: column;
    border-radius: 24px 24px 0px 0px;
}
.upcoming_class_1 {
    height: 51.9px;
    width: 833.12px;
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    margin-left: 41px;
}
.upcoming_class_2 {
    height: 49px;
    width: 873px;
    margin-left: 42px;
    margin-top: 15px;
}
span.upcoming_class_text {
    font-size: 14px;
    letter-spacing: 0.04em;
    font-weight: 400;
    color: #FFFFFF;
}
.upcoming_section_1 {
    height: 51.9px;
    width: 311.12px;
    display: flex;
    flex-direction: row;
    margin: right 10px;
    /* background-color: cadetblue; */
}
.upcoming_section_2 {
    height: 51.9px;
    display: flex;
    flex-direction: row;
    width: 186.31px;
    margin-left: 55px;
}
.upcoming_section_3 {
    height: 51.9px;
    width: 311.12px;
    display: flex;
    flex-direction: row;
    /* background-color: cadetblue; */
    margin-left: 46px;
}
.upcoming_section_1 {
    height: 51.9px;
    width: 311.12px;
    margin-right: 10px;
}
.section-1_image {
    height: 34.29px;
    margin-top: 8.81px;
    width: 34.33px;
}
.section-1_text {
    width: 250px;
    /* background: pink; */
    display: flex;
    flex-direction: column;
    height: 51.9px;
    margin-left: 10px;
}
img {
    height: 34.29px;
    width: 34.33px;
}
span.section-text-2 {
    font-size: 14.8px;
    color: white;
    margin-top: 4.9px;
    font-weight: 600;
}
span.section-text-1 {
    color: #FFFFFF;
    font-size: 15.85px;
    font-weight: 400;
    letter-spacing: 0.04em;
}
.section-2_text {
    height: 52.46px;
    display: flex;
    flex-direction: column;
    margin-left: 10.79px;
    width: 128px;
}
.section-2_image {
    height: 38.73px;
    width: 38.73px;
    margin-top: 6.86px;
}
img.section-img-1 {
    height: 38.73px;
    width: 38.73px;
}
.section-3_text {
    height: 52.46px;
    display: flex;
    flex-direction: column;
    margin-left: 10.79px;
    /* background: black; */
    width: 233px;
}
.section-3_image {
    height: 38.14px;
    width: 38.12px;
    /* background: pink; */
    margin-top: 7.16px;
}
img.section-img-2 {
    height: 38.14px;
    width: 38.12px;
}

.slick-list {
    height: 582px;
}
