<!DOCTYPE html>
<html lang="en">
    <title>Layout 6</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="section">
        <div class="section-1">
            <div class="section-1_1">
                <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.</p>
            </div>

            <div class="section-1_2">
                <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.</p>
            </div>

            <div class="section-1_3">
                <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.</p>
            </div>

        </div>
        
        <div class="section-2">
            <div class="section-2_1">
                <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.</p>
            </div>

            <div class="section-2_2">

                <div class="section-2_21">
                    <div class="section-2_211">
                        <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.</p>
                    </div>
                    <div class="section-2_212">
                        <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.</p>
                    </div>
                </div>

                <div class="section-2_22">
                    <div class="section-2_221">
                        <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.</p>
                    </div>
                    <div class="section-2_222">
                        <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.</p>
                    </div>
                </div>

                <div class="section-2_23">
                    <div class="section-2_231">
                        <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.</p>
                    </div>
                    <div class="section-2_232">
                        <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.</p>
                    </div>
                </div>

            </div>

            <div class="section-2_3">
                <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.</p>
            </div>
        </div>
    </div>
</body>
</html>