div {
    border: 1px solid rgb(255, 255, 255);
    /* display: flex; */
}
body{
    padding: 0px;
    margin: 0px;
}
.page-container{
    display: flex;
    flex-wrap: nowrap;
    height: 99.8%;
    width: 100%;
    position: absolute;
    background-color: rgb(154, 154, 154);
    
    font-family: Arial, Helvetica, sans-serif;
    /* align-items: stretch; */
}
.login-container{
    flex-direction: column;
    display: flex;
    height: 89%;
    width: 38.9%;
    background-color: rgb(255, 255, 255);
    margin-top: 47px;
    margin-left: 467px;
    border-radius: 15px;
}
.header-container{
    display: flex;
    height: 8%;
    width: 98%;
    margin-left: 4px;
    margin-top: 4px;
}
.img1{
    display: flex;
    height: 45px;
    width: 45px;
    margin-top: 0px;
    margin-left: 2px;

}
.img2{
    display: flex;
    height: 42px;
    width: 42px;
    margin-left: 226px;
    margin-top: 0px;
}
.body-container{
    flex-direction: column;
    display: flex;
    height: 70%;
    width: 98%;
    margin-left: 2px;
}
.section1{
    display: flex;
    height: 13%;
    width: 98%;

}
.section1-1{
    padding: 0px;
    margin: 0px;
    display: flex;
    font-size: 30px;
    margin-left: 145px;
    position: absolute;
    bottom: 570px;
    }

.section2{
    display: flex;
    height: 15%;
    width: 98%;

}
.section2-1{
    display: flex;
    height: 80%;
    width: 90%;
    margin-top: 17px;
    /* border-radius: 20px; */
    /* margin-left: 90px; */
  }
  .section2-2{
    display: flex;
    height: 72%;
    width: 58%;
    margin-top: 22px;
    border-radius: 20px;
    margin-left: 145px;
    border-color: rgb(215, 214, 214);
  }

  .sec1{
    display: flex;
    height: 20px;
    width: 20px;
    margin-left: 65px;
    margin-top: 8px;
  }

  .sec2{
    display: flex;
    height: 20px;
    width: 190px;
    margin-left: 5px;
    margin-top: 8px;
    font-size: 14px;
    font-family:"Google Sans",arial,sans-serif;
  }

  .section3{
    display: flex;
    height: 20%;
    width: 98%;

}
.section3-1{
    display: flex;
    height: 87%;
    width: 90%;
    margin-top: 5px;
    /* border-radius: 20px; */
    /* margin-left: 90px; */
  }
  .section3-2{
    display: flex;
    height: 62%;
    width: 56%;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 150px;
    border-color: rgb(215, 214, 214);
  }

  .sec3-1{
    display: flex;
    height: 20px;
    width: 20px;
    margin-left: 65px;
    margin-top: 8px;
  }

  .sec3-2{
    display: flex;
    height: 20px;
    width: 190px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 14px;
    position: absolute;
    bottom: 452px;
    }
.section4 hr{
    display: flex;
    border: 0;
    background: #d8d8d8;
    height: 1px;
    width: 280px;
    margin-top: 18px;
    }

.section4 span{
    display: block;
    margin: auto;
    width: 24px;
    font-size: 15px;
    background: #fff;
    margin-top: -17px;
    margin-left: 300px;
    height: 25px;
}
.section5{
    display: flex;
    height: 17%;
    width: 98%;
    }

.section5-1{
    display: flex;
    height: 50px;
    width: 280px;
    margin-left: 160px;
    margin-top: 10px;
    border-radius: 2px;
    border-color: #d7d6d6;
   
}
.sec5-1{
    display: flex;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 4px;
    font-size: 17px;
    opacity: .6;
}
/* .section5-1 input{
    margin-top: 1px;
    margin-left: 1px;
    display: flex;
    height: 42px;
    width: 265px;
    border-color: rgb(215, 214, 214);
} */
.section6{
    display: flex;
    height: 19%;
    width: 98%;
}
.section6-1{
    display: flex;
    height: 36px;
    width: 290px;
    border-radius: 20px;
    margin-top: 10px;
    border-color: rgb(212, 211, 211);
    margin-left: 158px;
    background-color: black;
}

.sec6-1{
    display: flex;
    height: 26px;
    width: 130px;
    margin-top: 7px;
    margin-left: 120px;
    font-size: 15.5px;
    color: #ffffff;
    border-color: black;

}

.section7{
    display: flex;
    height: 14%;
    width: 500px;

}
.section7-1{
    display: flex;
    height: 35px;
    width: 285px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 160px;
    border-color: rgb(196, 196, 196);
}
.sec7-1{
    display: flex;
    height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-left: 80px;
    font-size: 14px;
    position: absolute;
    bottom: 200px;
}
.section8{
    display: flex;
    height: 50px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 48px;
    margin-left: 155px;
    opacity: .7;
   
}
.section8 a{
    text-decoration: none;
}