div {
    
   
    /* border: 1px rgb(6, 141, 24); */
}

.page-container {
    display: flex;
    flex-direction: row;
    height: 625px;
    width: 1277px;
    border: 2px solid black;
}

.part1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 660px;
    margin-right: 10px;

    border: 1.5px solid red;
}
.part1-1{
    height: 206px;
    width: 655px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1.5px solid rgb(3, 218, 3);

}
.part1-2{
    height: 206px;
    width: 655px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1.5px solid rgb(3, 218, 3);

}
.part1-3{
    height: 206px;
    width: 655px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1.5px solid rgb(3, 218, 3);

}









.part2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 623px;
    border: 1.5px solid rgb(7, 105, 242);
    margin-left: -9px;
    margin-right: -3px;
}

.part2-1{
    height: 332px;
    width: 616px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1.5px solid rgb(207, 9, 125);

}

.part2-2{
    height: 332px;
    width: 616px;
    
    
    border: 1.5px solid rgb(55, 158, 226);

}

.part2-2-1{
    height: 330px;
    width: 302px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1.5px solid rgb(228, 9, 9);

}

.part2-2-2{
    height: 328px;
    width: 308px;
    margin-left: 305px;
    margin-top: -330px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1.5px solid rgb(4, 23, 36);

}