.ourclient-container {
    display: flex;
    height: 442.23px;
    margin-top: 97px;
    background: #e7e5e5;
    width: 1376px;
    flex-direction: column;
}
.ourlient-header {
    height: 110px;
    margin-top: 55px;
    width: 1376px;
    /* background: mediumpurple; */
}
.ourclient-heading {
    height: 67px;
    align-items: center;
    width: 1376px;
    /* background: wheat; */
    justify-content: center;
    display: flex;
    flex-direction: column;
}
span.ourclient-heading-text {
    font-weight: 500;
    margin-top: -16px;
    font-size: 40px;
    /* line-height: 47px; */
    margin-left: 17px;
    color: #212325;
}
.ourclient-subheading {
    height: 41px;
    width: 1376px;
    /* background: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}
span.ourclient-subheading-text {
    font-weight: 400;
    font-size: 18px;
    margin-top: -8px;
    /* line-height: 21px; */
    color: #212325;
    margin-left: -6px;
    opacity: 0.7;
}
.ourclient-slider {
    height: 153.23px;
    width: 1234px;
    margin-top: 49.68px;
    margin-left: 65px;
}
.slick-list {
    height: 192.65px;
    width: 1234.02px;
    /* background: aquamarine; */
}
.slick-track {
    position: relative;
    top: 0;
    left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ourclients-details-container {
    height: 153px;
    width: 225px;
}
img.ourclient-slider-image {
    height: 153px;
    width: 225px;
}
button.slick-arrow.slick-next {
    height: 55px;
    background: #b1a7a7;
    z-index: 1;
    width: 54px;
    right: -49px;
    border-radius: 30px;
}
button.slick-arrow.slick-prev {
    height: 55px;
    background: #b1a7a7;
    z-index: 1;
    width: 54px;
    left: -54px;
    border-radius: 30px;
}