<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout 5</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="section">
        <div class="section-1">
            <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years.                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years.</p>
        </div>

        <div class="section-2">

            <div class="section-2_1">
                
                <div class="section-2_11">
                    <div class="section-2_111">
                        <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years</p>
                    </div>
                    <div class="section-2_112">
                        <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs yearsEverything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs yearsEverything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs yearsEverything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years</p>
                    </div>
                </div>
                <div class="section-2_12">
                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years</p>
                </div>
            </div>

            <div class="section-2_2">
                <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years                Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years.</p>
            </div>
        </div>

    </div>
</body>
</html>