*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
   /* border: 2px solid red; */
}

body{
	font-size: 14px;
	background-color: #f9f9f9;
}

/* a{
    color: #0366d6;
} */
.page-container{
    max-width: 310px;
	width: 100%;
	height: auto;
	margin: 40px auto;
   /* border: 2px solid red; */
}
.page-container .header img{
    display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto 25px;
  /* border: 2px solid green; */
}
.page-container .body p{
    margin-bottom: 15px;
	font-size: 24px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	text-align: center;
	color: #333;
   /* border: 2px solid black; */
}
.page-container .form{
    margin-bottom: 15px;
	background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    padding: 20px;
   
}
.page-container .form .button1{
    margin-bottom: 15px;
	position: relative;
   
}
.page-container .form .button1 label{
    display: block;
	font-weight: 600;
	margin-bottom: 7px;
	color: #24292e;
  
}
.page-container .form .button2 input{
    width: 100%;
	background: #fff;
    border: 1px solid #d1d5da;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    border-radius: 3px;
    color: #24292e;
    font-size: 16px;
    line-height: 20px;
    min-height: 34px;
    padding: 6px 8px;
    
}
.page-container .form .button2 a.forgot{
    /* position: absolute; */
	top:  0;
	right: 0;
	font-size: 12px;
	color: #0366d6;
  
}
.page-container .form .button3{
    margin-top: 20px;
	background-color: #28a745;
	border: 1px solid rgba(27,31,35,.2);
	width: 100%;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	padding: 6px 12px;
	border-radius: 2px;
  
}
