@media only screen and (min-width: 1024px) and (max-width: 1950px) {
    .part2 {
        height: 484px;
        display: flex;
        margin-top: -47px;
        flex-direction: row;

        /* border: 1px solid red; */
    }

    .i1 {
        height: 372px;
        width: 717px;
        margin-top: 55px;

    }


    .pict1 {

        /* height: 244px;
  
    margin-left: -645px;
    margin-top: 181px; */
        width: 304px;
        height: 256px;
        margin-left: -653px;
        margin-top: 171px;

    }

    .pict2 {
        height: 73px;
        width: 165px;
        margin-top: 144px;
        margin-left: -322px;
    }

    .pict3 {
        width: 9px;
        height: 9px;
        margin-left: -149px;
        margin-top: 140px;
    }


    .pict4 {
        margin-top: 251px;
        margin-left: -323px;
        width: 167px;
    }

    .pict5 {
        margin-top: 246px;
        margin-left: -148px;
        height: 9px;
        width: 9px;
    }

    .t-1 {
        /* border: 2px solid red; */
        height: 294px;
        width: 545px;
        margin-left: 29px;
        margin-top: 111px;
    }

    .t-2 {

        height: 56px;
        color: #212325;
        font-weight: 600;
        font-size: 33px;
        margin-left: -101px;
        margin-top: 9px;
        width: 285px;



    }

    .sp {
        color: orange;
    }

    .t-3 {
        width: 534px;
        height: 132px;
        margin-top: 38px;
        margin-left: -73px;
        color: #686d72;
        text-align: justify;
        word-spacing: -1.2px;
        line-height: 1.7;
    }

    .p {

        color: #686d72;
        font-weight: 400;
        font-size: 16px;
        /* width: 556px;
    height: 132px; */
    }
}

@media only screen and (min-width: 420px) and (max-width: 950px) {
    .part2 {
        height: 484px;
        display: flex;
        margin-top: -47px;
        flex-direction: row;

        /* border: 1px solid red; */
    }

    .i1 {
        height: 203px;
        /* width: 433px; */
        margin-top: -61px;

    }


    .pict1 {

        width: 221px;
        height: 184px;
        margin-left: -431px;
        margin-top: -44px;

    }

    .pict2 {
        height: 51px;
        width: 109px;
        margin-top: -17px;
        margin-left: -133px;
    }

    .pict3 {
        width: 9px;
        height: 9px;
        margin-left: -8px;
        margin-top: 9px;
    }

    .ic3 {
        /* border: 2px solid; */
        height: 57px;
        width: 89px;
        margin-top: -32px;
        margin-left: -30px;
    }

    .pict4 {
        margin-top: 163px;
        margin-left: -165px;
        width: 110px;
    }

    .ic4 {
        margin-top: -104px;
    }

    .pict5 {
        margin-top: 54px;
        margin-left: -50px;
        height: 9px;
        width: 9px;
    }

    .t-1 {
        /* border: 2px solid red; */
        height: 294px;
        width: 545px;
        margin-left: 29px;
        margin-top: 111px;
    }

    .t-2 {

        height: 56px;
        color: #212325;
        font-weight: 600;
        font-size: 33px;
        margin-left: -40px;
        margin-top: -174px;
        width: 285px;



    }

    .sp {
        color: orange;
    }

    .t-3 {
        width: 306px;
        height: 132px;
        margin-top: 16px;
        margin-left: -27px;
        color: #686d72;
        text-align: justify;
        word-spacing: -1.2px;
    }

    .p {

        color: #686d72;
        font-weight: 400;
        font-size: 16px;
        /* width: 556px;
        height: 132px; */
    }
    .next{
        margin-top: 39px;
    }
}