@media screen and (max-width: 480px) {
    .Main-Component-CardSet{
        display: flex;
        column-gap: 5px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 10px;
        /* position: fixed; */

    }  
      

    .Auto-Booking-Card-Dashboard .Auto-Booking-Button{
        font-family:  'Roboto';
        text-decoration: none;
        color: #373d3f;
        font-weight: 700;
    }


    .AutoStand-NearMe-Dashboard .Autostand-Button
    {
        font-family: 'Roboto';
        text-decoration: none;
        color: #373d3f;
        font-weight: 700;
    }
    .ant-card {
            /* padding: 24px;
            border-radius: 0 0 8px 8px; */
            background-color: #C1C7C9;
    }

}