@media screen and (max-width: 480px) {
    body {
      background-color: #f5f5f5;
    }

    .Navigation{

        display: flex;
       column-gap: 50px;
       
       }
       
       .Navigtion-side-menu{
           /* background-color: cornflowerblue; */
           color: beige
           ;
       }
       
    

       .ant-col.ant-col-8.ant-col-offset-8.Navigation-profile-button.css-dev-only-do-not-override-w8mnev {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        margin-left: 10em;
        padding-right: 10px;
        padding-top: 10px;}
       
       /* .Side_Menu-button{
       
       }
       
       .Side_Menu-button .hover{
       
       }
       
       .Profile-button{
       
       } */
  }
  
.Navigation{

 display: flex;
column-gap: 50px;
justify-content: space-around;
background-color: #050505;
height: 50px;

}

.Profile-Button{
    background-color: #050505;
    border-color: #050505;
    
}

.Navigtion-side-menu{
    /* background-color: cornflowerblue; */
    color: beige
    ;
}

.Navigation-profile-button{
    /* background-color: blueviolet; */
    /* color: aliceblue; */
    float: right;
}

/* .Side_Menu-button{

}

.Side_Menu-button .hover{

}

.Profile-button{

} */