@media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
    }

    .Navigation{

        display: flex;
       column-gap: 50px;
       
       }
       
       .Navigtion-side-menu{
           /* background-color: cornflowerblue; */
           color: beige
           ;
       }
       
       .Navigation-profile-button{
           background-color: blueviolet;
           color: aliceblue;
       }

       .ant-col.ant-col-8.ant-col-offset-8.Navigation-profile-button.css-dev-only-do-not-override-w8mnev {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        margin-left: 10em;}
       
       /* .Side_Menu-button{
       
       }
       
       .Side_Menu-button .hover{
       
       }
       
       .Profile-button{
       
       } */
  }
  
.Navigation{

 display: flex;
column-gap: 50px;

}

.Navigtion-side-menu{
    background-color: cornflowerblue;
    color: beige
    ;
}

.Navigation-profile-button{
    background-color: blueviolet;
    color: aliceblue;
}

/* .Side_Menu-button{

}

.Side_Menu-button .hover{

}

.Profile-button{

} */