/* div {
  border: 1px solid red
} */

body{
  padding: 0px;
  margin: 0px;
}

.page-container {
  background: #202124;
  font-family: arial,sans-serif;
}

.header-container {
  height: 60px;
}

.header-body {
  float: right;
  display: flex;

}

.app-icon {
  height: 24px;
  width: 24px;
  padding-top: 0px;
  padding-left: 1px;
  padding-right: 4px;

}

.app-container{
  display: flex;
  padding: 11px;
  margin: 3px;
  align-items: center; 
  padding-left: 0px;
  padding-right: 10px;
  
}

.account-container{
  display: flex;
  padding: 11px;
  margin: 3px;
  align-items: center; 
  padding-left: 0px;
  padding-right: 10px;
  
}

.gmail-container{
  color: #fff;
  display: flex;
  padding:3px;
  margin: 3px;
  align-items: center; 
  padding-right: 6px;
  font-size: 13px;
}

.image-container{
  color: #fff;
  display: flex;
  padding: 6px;
  margin: 3px;
  align-items: center; 
  padding-left: 1.2px;
  padding-right: 6px;
  font-size: 13px;
}

.header-profile-pic {
  border-radius: 100px;
  height: 32px;
  width: 32px;
  background: #fff;
  margin-right: 5px;

}

.profile-pic{
  background-color: 32px 32px;
  border-radius: 50%;
  display: flex;
  margin: 0px;
  height: 32px;
  width: 32px;
}