div {
  /* border: 1px solid red */
}
body{
  padding: 0px;
  margin: 0px;
}

.page-container {
  background: #202124;
  font-family: arial,sans-serif;
}

.header-container {
  height: 60px
}

.header-body {
  float: right;
  display: flex
}

.app-icon {
  height: 24px;
  width: 24px;
  border: 2px solid blue
}

.header-links {
  display: flex;
  padding: 6px;
  margin: 3px;
  align-items: center;
}
.header-link{
  color: #fff;
  font-size:13px;
  margin-top:10px;
  font-weight: 300;
}
.header-profile-pic {
  border-radius: 100px;
  height: 32px;
  width: 32px;
  background: #fff;
}