<!DOCTYPE html>
<html lang="en">
<head>

    <title>layout1</title>
    <link rel="stylesheet" href="layout1.css">
</head>
<body>
    <div class="page-container">
        <div class="header">
            <p>People love gardening their homes with different kinds of flowers.They make people smile, happy, hopeful and better. People like rose it has become a 
                symbol of love.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                People love gardening their homes with different kinds of flowers.
                 They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                People love gardening their homes with different kinds of flowers.
                They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                People love gardening their homes with different kinds of flowers.
                They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                People love gardening their homes with different kinds of flowers.
                They make people smile, happy, hopeful and better. People like rose it has become a  symbol of love.
                People love gardening their homes with different kinds of flowers.They make people smile, happy, hopeful and better. People like rose it has become a 
                symbol of love.People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                People love gardening their homes with different kinds of flowers.
                 They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.People love gardening their homes with different kinds of flowers. 
                 They make people smile, happy, hopeful and better.</p>
        </div>
        <div class="section">
            <div class="section1">
                <div class="section3">
                    <p>People love gardening their homes with different 
                        kinds of flowers. They make people smile, happy, hopeful and better. People like rose it has become a 
                        symbol of love.People love gardening their homes with different kinds of flowers.They make people smile, happy, hopeful and better. People like rose it has become a 
                        symbol of love.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                        People love gardening their homes with different kinds of flowers.
                         They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                        People love gardening their homes with different kinds of flowersPeople love gardening their homes with different kinds of flowers.They make people smile, happy, hopeful and better. People like rose it has become a 
                        symbol of love.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                        People love gardening their homes with different kinds of flowers.
                         They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                        People love gardening their homes with different kinds of flowers</p>
                </div>
                <div class="section4">
                    <p>People love gardening their homes with different 
                        kinds of flowers. They make people smile, happy, hopeful and better. People like rose it has become a 
                        symbol of love.People love gardening their homes with different kinds of flowers.They make people smile, happy, hopeful and better. People like rose it has become a 
                        symbol of love.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                        People love gardening their homes with different kinds of flowers.
                         They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                        People love gardening their homes with different kinds of flowersPeople love gardening their homes with different kinds of flowers.They make people smile, happy, hopeful and better. People like rose it has become a 
                        symbol of love.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                        People love gardening their homes with different kinds of flowers.
                         They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.
                        People love gardening their homes with different kinds of flowers</p>
                </div>
            </div>
            <div class="section2">
                <div class="section5">
                    <p>People love gardening their homes with different 
                        kinds of flowers. They make people smile, happy, hopeful and better. People like rose it has become a 
                        symbol of love.People love gardening their homes with different kinds of flowers.They make people smile, happy, hopeful and better. People like rose it has become a 
                        symbol of love.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better. </p>
                </div>
                <div class="section6">
                    <p>People love gardening their homes with different 
                        kinds of flowers. They make people smile, happy, hopeful and better. People like rose it has become a 
                        symbol of love.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                </div>
                <div class="section7">
                    <p>People love gardening their homes with different 
                        kinds of flowers. They make people smile, happy, hopeful and better. People like rose it has become a 
                        symbol of love.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>