.page-container{
    border: 1px solid black;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.header{
    border: 1px solid red;
    height: 200px;
    width: 100%;
    overflow: scroll;
}
.section{
    border: 1px solid red;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section1{
    border: 1px solid blue;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.section2{
    border: 1px solid blue;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.section3{
    border: 1px solid blue;
    width: 100%;
    height: 50%;
    overflow: scroll;
}
.section4{
    border: 1px solid blue;
    width: 100%;
    height: 50%;
    overflow: scroll;
}
.section5{
    border: 1px solid orangered;
    width: 100%;
    height: 50%;
    overflow: scroll;
}
.section6{
    border: 1px solid orangered;
    width: 100%;
    height: 50%;
    overflow: scroll;
}
.section7{
    border: 1px solid orangered;
    width: 100%;
    height: 50%;
    overflow: scroll;
}