.page-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0)
    
}
.body-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:auto ;
    border: 1px solid rgb(0, 0, 0)
}
.section1{
    background-color: aqua;
    display: flex;
    height: 500px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0)
}

.section2{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0)
}

.section2-1{
    background-color: rgb(255, 173, 66);
    display: flex;
    height: 320px;
    width: auto;
    border: 1px solid rgb(0, 0, 0)
}
.section2-2{
    background-color: blueviolet;
    display: flex;
    height: 330px;
    width: auto;
    border: 1px solid rgb(0, 0, 0)
}
.section3{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0)
}
.section3-1{
    background-color: brown;
    display: flex;
    height: 210px;
    width: auto;
    border: 1px solid rgb(0, 0, 0)
}

.section3-2{
    background-color: aquamarine;
    display: flex;
    height: 210px;
    width: auto;
    border: 1px solid rgb(0, 0, 0)
}
.section3-3{
    background-color: rgb(165, 165, 249);
    display: flex;
    height: 224px;
    width: auto;
    border: 1px solid rgb(0, 0, 0)
}
