.test{
    height: 0px;
    width: 200px;
    margin-left: 580px;
    margin-top: 120px;
    font-size: 20px;
}

.final-part{
    display: flex;
}


.box{
    height: 300px;
    width: 450px;
    margin-top: 40px;
    margin-left: 40px;
    /* border: 1px solid #000000; */
    border-radius: 5px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(255, 239, 239));
    box-shadow: 1px 1px rgb(254, 176, 117);
    
}

.circle{
    height: 74px;
    width: 78px;
    margin-left: 165px;
    margin-top:10px;
}
.circle1{
    height: 85px;
    width: 94px;
    margin-top: 23px;
    margin-left: 64p
}
.men{
    margin-top: -90px;
    margin-left: 27px;
}
.man{
    height: 85px;
    width: 86px;
    margin-left: 142px;
    margin-top: 19px;
   
}

.colum{
    height: 30px;
    width: 40px;
    margin-left: 20px;
}
.colum2{
    height: 30px;
    width: 40px;
    margin-left: 350px;
    margin-top: -32px;
}
.c1{
    height: 30px;
    width: 40px;
    margin-left: 20px;
}
.c2{
    height: 30px;
    width: 40px;
    margin-left: 496px;
    margin-top: -32px;
}

.text1{
    margin-left: 35px;
    font-style: italic;
    margin-top: 20px;
}

.text2{
    margin-left: 35px;
    font-style: italic;
    margin-left: 60px;
}
.text3{
    margin-left: 35px;
    font-style: italic;
    margin-left: 186px;
}
.text4{
    margin-left: 35px;
    font-style: italic;
    color: rgb(6, 6, 6);
}
.text5{
    margin-left: 35px;
    font-style: italic;
}
.name{
    height: 30px;
    width: 150px;
    margin-top: 10px;
    margin-left: 314px; 
}
.name1{
    color:  rgb(254, 176, 117);
    font-weight: bold;
}
.name2{
    font-weight: bold;
}

.slick-dots li button{
    margin-top: 65px;
    
}
.slick-dots li button::before{
    font-size: 13px;
}