.Test{
    height: 400px;
    width: 1500px;
    margin-top: 400px;
   
}
.Text{
    margin-top: 12px;
    margin-left: 670px;
    font-size: 22px;
}


.Test1{
    display: flex;
    height: 300px;
    width: 500px;
    margin-top: 60px;
    margin-left: 10px;
    
}

.jhon{
    height: 300px;
    width: 500px;
}
.man{
    height: 280px;
    width: 430px;
    margin-left: 40px;
    margin-top: 0px;
}

.Test2{
    display: flex;
    height: 300px;
    width: 500px;
    margin-top: -300px;
    margin-left: 490px;
}
.jhon2{
    height: 300px;
    width: 500px;
    

}
.man2{
    height: 280px;
    width: 430px;
    margin-left: 40px;
    margin-top: 0px;
}

.Test3{
    display: flex;
    height: 300px;
    width: 530px;
    margin-top: -300px;
    margin-left: 980px;
}
.jhon3{
    height: 300px;
    width: 500px;
    

}
.man3{
    height: 280px;
    width: 430px;
    margin-left: 40px;
    margin-top: 0px;
}