<html>

<body>

    <head>
        <link rel="stylesheet" href="layout3.css">
    </head>


    <div class="page-container">

        <div class="section1">

            <div class="sec1">
                <div class="sec1-1"></div>
                <div class="sec1-2"></div>

            </div>
            <div class="sec2">
                <div class="sec2-1">
                  <div class="sec2-1-1" ></div> 
                  <div class="sec2-1-2"></div>
                </div>
                <div class="sec2-2"></div>

            </div>
            


        </div>
        <div class="section2">

        </div>

        <div class="section3">
            <div class="sec3-1"></div>
            <div class="sec3-2"></div>

        </div>






    </div>

</body>

</html>