<html>
    <head>
        <link rel="stylesheet" href="lay4.css">
    </head>

    <body>
        <div class="page-container">
            <div class="section1">
                <div class="section1-1"></div>
                <div class="section1-2"></div>
            </div>
            <div class="section2"></div>
            <div class="section3">
                <div class="section3-1">
                    <div class="section3-1-1"></div>
                    <div class="section3-1-2"></div>
                </div>
                <div class="section3-2"></div>
            </div>
        </div>    
    </body>
</html>