.page-container{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    border: 10px solid rgb(0, 0, 0);
}
.heaeder{
    display: flex;
    height: 10%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(252, 175, 222);
}
.body{
    display: flex;
    height: 80%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.section{
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}

.section1{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 30%;
    border: 1px solid rgb(0, 0, 0);
}
.sec1{
    display: flex;
    height: 10%;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(172, 234, 251);
}
.sec2{
    display: flex;
    height: 90%;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    background-color: black;
}
.section2{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 70%;
    border: 1px solid rgb(0, 0, 0);
}
.section2-1{
    display: flex;
    height: 10%;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(186, 239, 252);
}
.section2-2{
    background-color: rgb(234, 234, 234);
    display: flex;
    height: 90%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.part1{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 80%;
    border: 1px solid rgb(255, 255, 255);
}
.part1-1{
    flex-direction: row;
    display: flex;
    height: 80%;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
}
.part1-2{
    display: flex;
    height: 20%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.spart1{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 70%;
    border: 1px solid rgb(0, 0, 0);
}

.spart1-1{
    display: flex;
    height: 33%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.spart1-2{
    flex-direction: row;
    display: flex;
    height: 36%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.div1{
    display: flex;
    height: 100%;
    width: 50%;
    border: 1px solid rgb(0, 0, 0);
}
.div2{
    display: flex;
    height: 100%;
    width: 50%;
    border: 1px solid rgb(0, 0, 0);
}
.spart1-3{
    display: flex;
    height: 30%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.spart2{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 30%;
    border: 1px solid rgb(0, 0, 0);
}
.spart2-1{
    display: flex;
    height: 70%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.spart2-2{
    display: flex;
    height: 30%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.part2{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 20%;
    border: 1px solid rgb(0, 0, 0);
}
.part2-1{
    display: flex;
    height: 20%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.part2-2{
    display: flex;
    height: 40%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.part2-3{
    display: flex;
    height: 40%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.footer{
    display: flex;
    height: 10%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(164, 234, 250);
}