@media only screen and (min-width: 1024px) and (max-width: 1950px) {
    .part {
        height: 293px;
        display: flex;
        flex-direction: row;
        /* border: 1px solid red; */
    }

    .part3 {
        height: 269px;
        width: 565px;
        margin-left: 46px;
        margin-top: -14px;
        /* border: 2px solid red; */
    }

    .text-3-1 {
        color: #212325;
        font-weight: 600;
        font-size: 33px;
        height: 36px;
        width: 256px;
        /* border: 2px solid red; */
        margin-left: 11px;

        margin-top: 42px;
    }

    .text {
        color: orange;
    }

    .t {
        width: 534px;
        height: 132px;
        /* margin-left: 29px; */
        color: #686d72;
        text-align: justify;
        word-spacing: -1.2px;
        line-height: 1.7;
        margin-top: 30px;
        margin-left: 12px;
    }

    .tt {
        width: 534px;
        height: 132px;
        /* margin-left: 29px; */
        color: #686d72;
        text-align: justify;
        word-spacing: -1.2px;
        line-height: 1.7;
        margin-top: -45px;
        margin-left: 12px;
    }

    p {

        color: #686d72;
        font-weight: 400;
        font-size: 16px;
        /* width: 556px;
    height: 132px; */
    }

    .part4 {
        /* border: 2px solid red; */

        /* border: 2px solid red;  */
        height: 275px;
        width: 658px;
        margin-left: 92px;
        display: flex;
        margin-top: 29px;
        flex-direction: column;
    }

    .part4-1 {
        height: 59px;
        width: 580px;
        display: flex;
        flex-direction: row;
        /* border: 2px solid red; */
    }

    .part4-2 {
        height: 59px;
        width: 580px;
        display: flex;
        flex-direction: row;
        margin-top: 35px;
        /* border: 2px solid red; */
    }

    .part4-3 {
        height: 59px;
        width: 580px;
        display: flex;
        flex-direction: row;
        margin-top: 51px;
        /* border: 2px solid red; */
    }

    .part4-4 {
        height: 59px;
        width: 580px;
        display: flex;
        flex-direction: row;
        margin-top: 35px;
        /* border: 2px solid red; */
    }

    .p4-1 {
        /* border: 2px solid red; */
        height: 39px;
        width: 66px;
        margin-left: 25px;
        /* border-right: 1px solid orange; */
        border-right: 1px solid #f5a02347;
    }

    .p4-2 {
        height: 27px;
        width: 96px;
        margin-left: 12px;
        /* border: 2px solid rgb(4, 197, 91); */
    }

    .p4-2-1 {
        /* border: 2px solid red; */


        color: #686d72;
        height: 27px;
        width: 391px;
        margin-left: 12px;
        margin-top: -1px;
    }

    .p4-2-2 {
        height: 29px;
        width: 166px;
        /* border: 2px solid red; */
    }

    .p4-3-1 {
        height: 39px;
        width: 66px;
        margin-left: 25px;
        /* border-right: 1px solid orange; */
        border-right: 1px solid #f5a02347;
    }

    .p4-3-2 {
        height: 29px;
        width: 79px;
        /* border: 2px solid red; */
    }

    .p4-4-1 {
        height: 39px;
        width: 66px;
        margin-left: 25px;
        border-right: 1px solid #f5a02347;
    }

    .p4-4-2 {
        height: 24px;
        width: 127px;
        margin-left: -16px;
        /* border: 2px solid red; */

    }

    .p9 {
        height: 40px;
        width: 40px;
    }

    .p8 {
        height: 40px;
        width: 40px;
    }

    .p7 {
        height: 40px;
        width: 40px;
    }

    .p6 {
        height: 40px;
        width: 40px;
    }

    .p4-2-11 {
        height: 39px;
        width: 66px;
        margin-left: 25px;
        /* border-right: 1px solid orange; */
        border-right: 1px solid #f5a02347;
        /* border: 2px solid red; */
    }

    .li-1 {
        height: 51px;
        /* border: 2px solid red; */
    }

    .li-2 {
        height: 51px;
        margin-left: 12px;
        /* border: 2px solid red; */
    }

    .li-3 {
        margin-left: 12px;
    }

    .li-4 {
        margin-left: 12px;
    }

    .p4-2-2-1 {
        color: #686d72;
        height: 27px;
        width: 362px;
        text-align: justify;

        margin-left: 4px;
        word-spacing: -1.2px;
        /* margin-top: -34px; */
    }

    .p4-3-2-1 {

        /* border: 2px solid red; */

        color: #686d72;
        height: 27px;
        width: 391px;
        margin-left: -3px;
        /* margin-top: -32px; */
    }

    .p4-4-3 {
        /* border: 2px solid red; */


        color: #686d72;
        height: 27px;
        width: 362px;
        text-align: justify;
        margin-left: 4px;
        word-spacing: -1.2px;
        /* margin-top: -33px; */

    }
}





@media only screen and (min-width: 420px) and (max-width: 950px) {
    .part {
        height: 293px;
        display: flex;
        flex-direction: row;
        margin-top: -35px;

    }

    .part3 {
        height: 307px;
        width: 367px;
        margin-left: 46px;
        margin-top: -14px;

    }

    .text-3-1 {
        color: #212325;
        font-weight: 600;
        font-size: 33px;
        height: 36px;
        width: 256px;

        margin-left: 161px;
        margin-top: 36px;
    }

    .text {
        color: orange;
    }

    .t {

        height: 187px;

        color: #686d72;

        margin-top: 30px;

        margin-left: -33px;
        width: 344px;
        width: 549px;
        font-size: 21px;
    }

    .tt {
        width: 517px;
        height: 132px;
        color: #686d72;
        margin-top: -77px;

        margin-left: -12px;
        font-size: 21px;
    }

    p {

        color: #686d72;
        font-weight: 400;

    }

    .part4 {


        height: 275px;
        width: 536px;
        margin-left: -399px;
        display: flex;
        margin-top: 349px;
        flex-direction: column;
    }

    .part4-1 {
        height: 60px;
        width: 533px;
        display: flex;
        flex-direction: row;

    }

    .part4-2 {
        height: 59px;
        width: 649px;
        display: flex;
        flex-direction: row;
        margin-top: 56px;

    }

    .part4-3 {
        height: 59px;
        width: 649px;
        display: flex;
        flex-direction: row;
        margin-top: 12px;

    }

    .part4-4 {
        height: 59px;
        width: 649px;
        display: flex;
        flex-direction: row;
        margin-top: 12px;

    }

    .p4-1 {

        height: 39px;
        width: 66px;
        margin-left: 25px;

        border-right: 1px solid #f5a02347;
    }

    .p4-2 {
        height: 27px;
    width: 119px;
    margin-left: 2px;
    font-size: 22px;

    }

    .p4-2-1 {



        color: #686d72;
    height: 27px;
    width: 381px;
    text-align: justify;
    margin-left: 5px;
    margin-top: 3px;
    font-size: 19px;

    }

    .p4-2-2 {
        height: 29px;
        width: 166px;

    }

    .p4-3-1 {

        height: 39px;
        width: 66px;
        margin-left: 25px;
        border-right: 1px solid #f5a02347;
    }

    .p4-3-2 {
        height: 29px;
        width: 79px;

    }

    .p4-4-1 {

        height: 39px;
        width: 66px;
        margin-left: 25px;
        border-right: 1px solid #f5a02347;
    }

    .p4-4-2 {
        height: 24px;
        width: 127px;
        margin-left: -16px;


    }

    .p9 {
        height: 40px;
        width: 40px;
    }

    .p8 {
        height: 40px;
        width: 40px;
    }

    .p7 {
        height: 40px;
        width: 40px;
    }

    .p6 {
        height: 40px;
        width: 40px;
    }

    .p4-2-11 {
        height: 39px;
        width: 66px;
        margin-left: 25px;
        border-right: 1px solid #f5a02347;

    }

    .li-1 {
        height: 51px;
        margin-left: 12px;

    }

    .p4-2-2-1 {


        color: #686d72;
        height: 27px;
        width: 468px;
        margin-left: -2px;

    }

    .p4-3-2-1 {


        color: #686d72;
        height: 27px;
        width: 391px;
        margin-left: -3px;

    }

    .p4-4-3 {



        color: #686d72;
        height: 27px;
        width: 471px;
        margin-left: -3px;


    }
}

@media only screen and (min-width: 320px) and (max-width: 320px) {
    .part {
        height: 607px;
        display: flex;
        flex-direction: row;
        margin-top: -35px;
        /* border: 1px solid red; */
    }

    .part3 {
        height: 339px;

        width: 307px;
        margin-left: 2px;
        margin-top: -14px;
        /* border: 2px solid red; */
    }

    .text-3-1 {
        font-weight: 600;
        font-size: 22px;
        height: 36px;
        width: 256px;
        /* border: 2px solid red; */
        margin-left: 37px;
        margin-top: -52px;
    }

    .text {
        color: orange;
    }

    .t {

        height: 187px;
        color: #686d72;
        margin-top: -12px;
        margin-left: 9px;

        width: 289px;
        font-size: 15px;
    }

    .tt {
        width: 285px;
        height: 76px;
        color: #686d72;
        margin-top: -76px;
        margin-left: 12px;
        font-size: 15px;
    }

    p {

        color: #686d72;
        font-weight: 400;

    }

    .part4 {


        height: 275px;
        width: 316px;
        margin-left: -310px;
        display: flex;
        margin-top: 196px;
        flex-direction: column;
    }

    .part4-1 {
        height: 59px;
        width: 310px;
        display: flex;
        flex-direction: row;

    }

    .part4-2 {
        height: 59px;
        width: 315px;
        display: flex;
        flex-direction: row;
        margin-top: 21px;
        margin-left: 26px;

    }

    .part4-3 {
        height: 59px;
        width: 649px;
        display: flex;
        flex-direction: row;
        margin-top: 23px;

    }

    .part4-4 {
        height: 59px;
        width: 649px;
        display: flex;
        flex-direction: row;
        margin-top: 17px;

    }

    .p4-1 {

        height: 39px;
        width: 66px;
        margin-left: 4px;

        border-right: 1px solid #f5a02347;
    }

    .p4-2 {
        height: 27px;
        width: 96px;
        margin-left: 12px;


    }

    .p4-2-1 {



        color: #686d72;
        height: 27px;
        width: 232px;
        margin-left: 18px;
        margin-top: -1px;
        text-align: justify;
    }

    .p4-2-2 {
        height: 29px;
        width: 166px;
        margin-left: 7px;

    }

    .p4-3-1 {

        height: 39px;
        width: 66px;
        /* margin-left: -13px; */
        margin-left: -2px;
        border-right: 1px solid #f5a02347;
    }

    .p4-3-2 {
        height: 29px;
        width: 79px;
        margin-left: 7px;

    }

    .p4-4-1 {

        height: 39px;
        width: 66px;
        /* margin-left: -13px; */
        margin-left: -2px;
        border-right: 1px solid #f5a02347;

    }

    .p4-4-2 {
        height: 24px;
        width: 127px;
        margin-left: -3px;


    }

    .p9 {
        height: 40px;
        width: 40px;
    }

    .p8 {
        height: 40px;
        width: 40px;

        margin-right: -5px;
    }

    .p7 {
        height: 40px;
        width: 40px;
    }

    .p6 {
        height: 40px;
        width: 40px;

    }

    .p4-2-11 {
        height: 39px;
        width: 66px;
        /* margin-left: -13px; */
        margin-left: -28px;
        border-right: 1px solid #f5a02347;

    }

    .li-1 {
        height: 51px;
        margin-left: -5px;

    }

    .p4-2-2-1 {
        /* border: 2px solid red; */

        color: #686d72;
        height: 27px;
        width: 242px;
        margin-left: 12px;
        text-align: justify;
        /* margin-top: -34px; */
    }

    .p4-3-2-1 {

        /* border: 2px solid red; */

        color: #686d72;
        height: 27px;
        width: 227px;
        margin-left: 13px;
        text-align: justify;


        /* margin-top: -32px; */
    }

    .p4-4-3 {
        /* border: 2px solid red; */

        color: #686d72;
        height: 27px;
        width: 235px;
        margin-left: 9px;
        /* margin-top: -33px; */
        text-align: justify;

    }
}