.page-container {
    background-color: rgb(139, 135, 135);
    overflow-y: scroll;
    inset: 0px;
    position: fixed;
    /* position: absolute; */
    /* display: flex; */

}


.login-container {
    display: flex;
    /* position:fixed; */
    align-items: center;
    justify-content: center;
    height: 660px;
    width: 484px;
    margin-left: 404px;
    border-radius: 32px;
    margin-top: 0px;

    background-color: rgb(250, 252, 252);
    /* border: 1px solid red; */
}

.header-container {

    display: flex;
    flex-direction: column;
    height: 96px;
    width: 447px;
    margin-top: -552px;
    /* border: 2px solid red; */
}

.X-symbol {
    margin-left: 401px;
    height: 39px;
    margin-top: 9px;
    width: 40px;
}

.symbol {
    height: 18px;
    width: 18px;
    margin-top: 12px;
    margin-left: 12px;
}

.logo {
    margin-top: -26.4px;
    margin-left: 193px;
    height: 57px;
    width: 46px;
    /* border: 1px solid red; */


}

.img {
    height: 40px;
    margin-left: 1px;
    margin-top: 9px;
    /* border: 1px solid red; */
}

.heading {
    height: 43px;
    width: 325px;
    margin-left: 73px;
    margin-top: 11px;
    color: rgb(51, 51, 51);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1.2px;
    -webkit-font-smoothing: antialiased;
    word-break: keep-all;

    /* border: 1px solid red; */

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.body-container {
    display: flex;
    height: 430px;
    width: 438px;
    flex-direction: column;
    margin-top: 52px;
    margin-left: -452px;
    /* border: 1px solid red; */
}

.form-part {
    height: 220px;
    width: 310px;
    margin-left: 66px;
    margin-top: -11.5px;
    /* border: 1px solid red; */
}

.gmail-text {
    height: 20px;
    width: 309px;
    margin-left: 29.5px;
    margin-top: 14px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid red; */
}

.gmail-input {
    height: 44.5px;
    width: 264px;
    border-radius: 16px;
    margin-left: 21px;
    margin-top: 3px;

    border: 2px solid rgb(193 187 187 / 63%);
}

.g-i {
    font-size: 16px;
    color: #7e7777;
    margin-left: 16.5px;
    margin-top: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.password-text {
    height: 20px;
    width: 309px;
    margin-left: 29.5px;
    /* margin-top: 13.5px; */
    margin-top: 7px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid red; */
}

.password-input {

    /* margin-left: 22px;
    margin-top: 3px; */

    height: 44px;
    width: 264px;
    border-radius: 16px;
    margin-left: 21px;
    margin-top: 3px;

    border: 2px solid rgb(193 187 187 / 63%);
}

.p-i {
    font-size: 16px;
    color: #7e7777;
    margin-left: 16.5px;
    margin-top: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.p-icon {
    height: 22px;
    width: 22px;
    margin-top: -17px;
    margin-left: 242px;
}

.icon {
    height: 12px;
    width: 12px;
}

.FG-text {
    font-size: 14px;
    color: rgb(12, 12, 12);
    margin-left: 21.5px;
    margin-top: 8px;
    font-weight: 600;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

.login-text {
    height: 40px;
    width: 268px;
    border-radius: 22px;
    margin-left: 19px;
    margin-top: 18px;
    background-color: rgb(230, 0, 35);
    border: 2px solid rgb(245 240 240);
}

.login-text-1 {
    font-size: 15px;
    color: white;
    margin-left: 112.7px;
    margin-top: 10px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.or {
    height: 22px;
    width: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 38px;
    margin-left: 211.5px;
    color: #403b3b;
    /* border: 1px solid red; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





.login-part {
    height: 118px;
    width: 310px;
    margin-top: 33px;
    margin-left: 66px;

    /* border: 1px solid red; */
}

.Facebook-part {
    height: 40px;
    width: 268px;
    border-radius: 22px;
    margin-left: 19px;
    margin-top: -25px;
    background-color: rgb(44 103 221);
    border: 2px solid rgb(245 240 240);

}

.f-i {
    height: 30px;
    width: 31px;
    margin-left: 12px;
    margin-top: 8px;
    /* border: 1px solid red; */
}

.imeg {
    height: 24px;
    width: 24px;
}

.f-text {
    height: 24px;
    width: 199px;
    margin-left: 53px;
    margin-top: -28px;
    color: white;
    font-size: 16.5px;
    font-weight: bold;
    font-family: "Google Sans", arial, sans-serif;
    /* letter-spacing: 0.1px;  */

    /* border: 1px solid red; */
}

.Google-part {
    height: 40px;
    width: 268px;
    border-radius: 22px;
    margin-left: 22px;
    margin-top: 7px;
    background-color: rgb(252, 249, 249);
    border: 1px solid #dadce0;

}

.g-p {
    height: 18px;
    width: 18px;
    margin-top: 11px;
    margin-left: 11px;
}

.g-p1 {
    height: 18px;
    width: 18px;
}

.g-t {
    height: 17px;
    width: 216px;
    margin-left: 72px;
    margin-top: -16px;
    font-size: 14px;
    letter-spacing: 0.25px;
    font-weight: 500;
    color: #474a4b;
    font-family: "Google Sans",arial,sans-serif;
    
    
}

.notice-part{
    height: 103px;
    width: 359px;
    margin-top: -3px;
    margin-bottom: -10px;
    margin-left: 40px;
    
    /* border: 1px solid red; */
}
.line1{
    height: 24px;
    width: 302px;
    margin-left: 28px;
    /* border: 1px solid red; */
    
}
.line1-1{
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    color: rgb(118, 118, 118);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid red; */
}
.line2{
    height: 24px;
    width: 334px;
    margin-top: -10px;
    margin-left: -3.5px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

.line2-1{
    height: 19px;
    width: 98px;
    font-size: 11px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2px;
    margin-left: 59px;
    
    color: #000000e6;
    /* border: 1px solid red; */

}
.line2-2{
    height: 19px;
    width: 171px;
    margin-top: 2px;
    font-size: 11px;
    margin-left: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: rgb(118, 118, 118);
    /* border: 1px solid red; */

}
.line3{
    height: 24px;
    width: 334px;
    margin-top: -8px;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    
    color: #000000e6;
    /* border: 1px solid red; */

}
.line3-1{
    height: 19px;
    width: 76px;
    font-size: 11px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2px;
    margin-left: 57px;
    /* border: 1px solid red; */

}
.line3-2{
    height: 19px;
    width: 104px;
    font-size: 11px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2px;
    margin-left: 0.5px;
    /* border: 1px solid red; */

}


.footer-container {
    display: flex;
    flex-direction: column;
    height: 67px;
    width: 449px;
    margin-left: 424px;
    margin-top: -85px;
    /* position: fixed; */
    /* border: 1px solid red; */


}

.box {
    height: 60px;
    width: 333px;
    margin-left: 55px;
    /* border: 1px solid red; */

}

.box-1 {
    height: 28px;
    width: 332px;
    margin-top: 25px;
    margin-left: 32px;

    /* border: 1px solid red; */

}

.box-1-1 {
    height: 25px;
    width: 158px;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: -3px;
    margin-top: -8px;
    color: #403b3b;
}

.box-1-2 {
    height: 25px;
    width: 167px;
    margin-left: 104.5px;
    margin-top: -25px;
    font-size: 12px;
    font-weight: bold;
    color: #403b3b;
    letter-spacing: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid rgb(17, 5, 190); */

}

.box-2 {
    height: 20px;
    width: 330px;
    /* margin-top:1px; */
    display: flex;
    margin-top: -4px;
    margin-left: 8px;
    flex-direction: row;


    /* border: 1px solid rgb(20, 209, 14); */
}

.box-2-1 {
    height: 25px;
    width: 158px;
    font-size: 12px;
    margin-left: 57px;
    color: #403b3b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.box-2-2 {
    height: 25px;
    width: 158px;
    font-size: 12px;
    font-weight: 600;
    margin-left: -49.5px;
    color: #403b3b;
    word-wrap: break-word;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}