.w-m{
   
    height: 46px;
    width: 414px;
    
    font-size: 36px;
    font-weight: 500;
    margin-top: -145px;
    margin-left: 449px;
}
.head-1{
    color: #171717;
    opacity: 0.7;
    font-weight: 400;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 9px;
}
.ic-1{
    width: 1290px;
    height: 571px;
    margin-top: 33px;
}

.body2{
   height: 536px;
    width: 1285px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    margin-top: -542px;
}
.body2-1{
    height: 472px;
    width: 398px;
    border-bottom: 1px solid #000000a6;

}

.ic2{
    width: 177.69px;
    height: 372px;
    margin-top: 102px;
    margin-left: 109px;
}
.ic3{
    width: 91px;
    height: 261px;
    margin-top: 18px;
   
    margin-left: 83px;



}
.ip{
    /* border: 2px solid red; */
    height: 272px;
    width: 163px;
    margin-top: -289px;

}