.head{
    font-size: 37px;
    font-weight: 600;
}
.head-line{
    font-size: 17px;
    font-weight: 400;
    color: #212325;
    opacity: 0.7;
    margin-top: 20px;
    margin-left: 12px;
}

.body{
    display: flex;
    flex-direction: row;
    height: 750px;
    width: 1286px;
}
.body-1{
    height: 433px;
    width: 629px;
    margin-top: 74px;

    display: flex;
    flex-direction: column;
    margin-left: 48px;
    /* border: 2px solid red; */
    /* border: 2px solid red; */

}
.body-2{
    height: 433px;
    width: 629px;
    /* border: 2px solid red; */
}
.i1{
    margin-top: 82px;
    
}
.icon-1{
    margin-top: -126px;
    width: 723px;
    height: 595px;
    
    margin-left: -106px;


    
}
.i2{
    margin-top: -82px;
}

.icon-2{
    width: 207.46px;
    height: 142.36px;
    margin-top: -258px;
    margin-left: -469px;
}
.i3{
    margin-top: -427px;
}
.icon-3{
    margin-top: -272px;
    width: 719px;
    
    margin-left: -102px;
}
.sub1{
    height: 113px;
    width: 625px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
}
.num{
    margin-top: -18px;
}
.sub1-1{
    height: 50px;
    width:89px;
    /* border: 2px solid red; */

    font-size: 60px;
    font-weight: 700;
    margin-top: 11px;

   
    color: #FFAB26;
    border-right: 2px solid  #FFAB26;
}
.sub1-2{
    height: 99px;
    width: 521px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    /* border: 2px solid red; */
}
.sub2{
    height: 113px;
    width: 625px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
}
.sub2-1{
    height: 99px;
    width:89px;
    /* border: 2px solid red; */
    height: 50px;
    width:89px;
    /* border: 2px solid red; */

    font-size: 60px;
    font-weight: 700;
    margin-top: 11px;

   
    color: #FFAB26;
    border-right: 2px solid  #FFAB26;
}
.sub2-2{
    height: 99px;
    width: 521px;
    margin-left: 16px;
    /* border: 2px solid red; */
}
.sub3{
    height: 113px;
    display: flex;
    flex-direction: row;
    width: 625px;
    /* border: 2px solid red; */
}
.sub3-1{
    

    height: 99px;
    width: 89px;
    /* border: 2px solid red; */
    height: 50px;
    width: 89px;
    /* border: 2px solid red; */
    font-size: 60px;
    font-weight: 700;
    margin-top: 11px;
    color: #FFAB26;
    border-right: 2px solid #FFAB26;
}
.sub3-2{
    height: 99px;
    width: 521px;
    margin-left: 16px;
    /* border: 2px solid red; */
}

.h1{
    font-weight: 500;
    font-size: 30px;
    height: 41px;
    width: 192px;
}
.h2{
    font-weight: 500;
    
    font-size: 14px;
    color: rgba(33, 35, 37, 0.7);
    width: 479px;
    height: 52px;
    text-align: justify;
    margin-left: 10px;
    margin-top: 17px;
}
.num2{
    margin-top: -18px;
}
.h3{
    
    font-weight: 500;
    font-size: 30px;
    height: 41px;
    width: 268px;

}
.h4{
    font-weight: 500;
   
    font-size: 14px;
    color: rgba(33, 35, 37, 0.7);
    width: 479px;
    height: 52px;
    text-align: justify;
    margin-left: 10px;
    margin-top: 17px;
}
.num3{
    margin-top: -18px;
}
.h5{
    font-weight: 500;
    font-size: 30px;
    height: 41px;
    width: 268px;
    margin-left: -51px;
}
.h6{
    font-weight: 500;
   
    font-size: 14px;
    color: rgba(33, 35, 37, 0.7);
    width: 429px;
    height: 52px;
    text-align: justify;
    margin-left: 10px;
    margin-top: 17px;
}