<html>
    <head>
        <link rel="stylesheet" href="lay5.css">
    </head>
    
    <body>
        <div class="page-container">
            <div class="header-container"></div>
            <div class="header-body">
                <div class="section1">
                    <div class="section1-1"></div>
                    <div class="section1-2"></div>
                    <div class="section1-3"></div>
                </div>
                <div class="footer-container"></div>
            </div>
        </div>
</body>