.section{
    border: 2px solid rgb(54, 3, 239);
    height: 700px;
    width: 100%;
    display: flex;
}
.section1{
    border: 1px solid white;
    height: 700px;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.section2{
    border: 1px solid white;
    height: 700px;
    width: 30%;
    background-color: rgb(237, 142, 158);
    overflow: scroll;
}
.section3{
    border: 1px solid white;
    height: 700px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.section4{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: rgb(237, 142, 158);
    overflow: scroll;
}

.section5{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: rgb(237, 142, 158);
    overflow: scroll;
}

.section6{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section7{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: rgb(237, 142, 158);
    overflow: scroll;
}
.section8{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    background-color: rgb(237, 142, 158);
    overflow: scroll;
}
.section9{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    background-color: rgb(237, 142, 158);
    overflow: scroll;
}




