.address-container{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 370px;
    margin-top: 10px;
    border: 1px solid white;
}

.Address{
    margin-left: 13px;
    font-size: 13px;
    font-weight: 600;
}

.content-7{
    height: 31px;
    font-size: 13px;
    margin-top: 7px;
    margin-left: 10px;
    letter-spacing: -0.004em;
    margin-bottom: 10px;
    width: 336px;
    border-color: #11112222;
    border-radius: 5px;
    padding-left: 8px;
    
}