.email-container{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 370px;
    margin-top: 10px;
    border: 1px solid white;
}

.Email{
    margin-left: 12px;
    font-size: 13px;
    font-weight: 600;
}

.PHNO{
    margin-left: 202px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 70px;
    margin-top: -69px;
}

.content-5{
    height: 31px;
    font-size: 13px;
    margin-top: 7px;
    margin-left: 10px;
    letter-spacing: -0.004em;
    margin-bottom: 10px;
    width: 149px;
    border-color: #11112222;
    border-radius: 5px;
    padding-left: 8px;
    
}

.content-6{
    height: 31px;
    font-size: 13px;
    margin-top: -65px;
    margin-left: 198px;
    letter-spacing: -0.004em;
    margin-bottom: 10px;
    width: 149px;
    border-color: #11112222;
    border-radius: 5px;
    padding-left: 8px;
    
}
  
