/* div{
    border: 1px solid red;
} */
body{
    margin: 0;
    padding: 0;
}

.page-container{

    width: 1536px;
    height: 881.54px;
    display: flex;
    flex-direction: column;
}
.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 720px;
    width: 100%;
}
.section1{
    height: 720px;
    width: 1536px;
    padding-bottom: 112px;
    padding-top: 72px;
    display: flex;
    justify-content: center;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 156.733px;
    width: 100%;
}
.section{
     border: 1px solid rgb(20, 19, 19);
    height:136.7333px;
    width: 980px;  
}
.section2{
    height: 536px;
    width: 980px;
    display: flex;
    flex-direction: row;
}
.section2_1{
    height: 265.65px;
    width: 580px;
}
.section2_2{
    height: 496px;
    width: 396px;
}
.section3{
    height: 181.65px;
    width: 548px;
    padding: 112px 0 16px;
}
.fb_logo{
    height: 106px;
    width: 301.067px;
    margin-top: -16px;
    padding-left: 2px;
    margin-left: -47px;

}
.text{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
font-size: 28px;
font-weight: normal;
line-height: 32px;
width: 500px;
margin-top: -115px;
margin-left: -17px;
margin-bottom: 0.24px;
}
.section4{
    height: 456px;
    width: 396px;
}
.section4_1{
    height: 348.83px;
    width: 396px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 8px 16px rgba(0,0,0,.1);
    padding: 20px 0 28px;
    margin: 40px 0 0;
}
.section4_2{
    height: 18.75px;
    width: 396px;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-top: 28px;
    text-align: center;
}

.login{
    height: 314.83px;
    width: 396px;

}
.login-container{
    height: 131.28px;
    width: 396px;
    display: flex;
    flex-direction: column;
}
.container-1{
    height: 63.6px;
    width: 364px;
    display: inline-block;
    padding: 6px 0;
}
.container-2{
    height: 63.6px;
    width: 364px;
    display: inline-block;
    padding: 6px 0;
}
.email{
    height: 51.6px;
    width: 363.6px;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    text-align: start;
    cursor: text;
    display: inline-block;
}
.password{
    height: 51.6px;
    width: 363.6px;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    text-align: start;
    cursor: text;
    display: inline-block; 
}
page-text{
    height: 16px;
    width: 92.61px;
    font-size: 14px;
    font-weight: 600;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
}
a{
    cursor: pointer;
}
.login-button{
    height: 54px;
    width: 396px;
    padding-top: 6px;
}
.submit{
    background-color: #1877f2;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    height: 48px;
    width: 364px;
}
.forgot-password{
    height: 18.75px;
    width: 396px;
    margin-top: 16px;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
}
.line{
    height: 0.8px;
    width: 364px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
    text-align: center;
}
.create-account{
    height: 54px;
    width: 396px;
    padding: 6px;
    display: flex;
    justify-content: center;
}
.account{
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    box-sizing: content-box;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    color: #fff;
}
