*{
    margin: 0;
}
/* .trending_page{
    height: 839px;
    width: 1440px;
    background-color: white;
    display: flex;
    flex-direction:column ;
}
.trending_page_heading{
    height: 82px;
    width: 1440px;
    margin-top: 91px;
    display: flex;
    flex-direction: column;
}
.trending_page_content{
    height: 586px;
    width: 1440px;
}
.page_heading{
    height: 41px;
    width: 1440px;

}
.page_subheading{
    height: 41px;
    width: 1440px; 
    margin-top: 3px;
}
.trending_heading{
    font-size: 40px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

.slider{
    background-color: #fff;
    padding: 30px;
    margin-left: 48px;
    height: 839px;
    width: 1380px;
}
/* .trending_page{
    height: 839px;
    width: 1440px;
    display: flex;
    flex-direction: column;
} */
.trending_heading{
    height: 82px;
    width: 1440px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 91px;
}
.trending_subheading{
    font-size: 14px;
    font-weight: 400;
    display: flex;
}
.trending_subheading_container {
    height: 41px;
    width: 1350px;
    display: flex;
    position: relative;
    margin-left: 91px;
    bottom: 31px;
    justify-content: center;
}
/* .trending_content{
    height: 586px;
    width: 1339px;
    background-color: blueviolet;
    margin-top: 61px;
    margin-left: 50.5px;
    margin-right: 50.5px;
    margin-bottom: 19px;
} */
.trending_heading_container {
    height: 41px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 122px;
    margin-left: 79px;
    bottom: 32px;
    width: 1410px;
    right: 15px;
}
.trending_text_heading{
    font-weight: 500;
    font-size: 41px;
    position: relative;
    bottom: 9px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.trending_detail_heading{
    font-weight: 500;
    font-size: 18px;
    position: relative;
    margin-left: 11px;
    bottom: -21px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.trending_detail_subheading{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    margin-left: 11px;
    margin-top: 26px;
    line-height: 20px;
}
.trending_text_subheading{
    font-weight: 400;
    font-size: 18px;
    position: relative;
    top: 9px;
    color: #212325;
    opacity: 0.8;
}
/* .trending_details{
    height: 506px;
    width: 1339px;
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
} */
/* .trending_page_details_1{
    height: 506px;
    width: 429px;
    display: flex;
    flex-direction: column;
} */
/* .trending_page_details_2{
    height: 506px;
    width: 429px;
    margin-left: 26px;
    background-color: rgb(240, 240, 130);
}
.trending_page_details_3{
    height: 506px;
    width: 429px;
    margin-left: 26px;
    background-color: rgb(240, 240, 130);
} */
/* .trending_carousel{
    height: 14px;
    width: 70px;
    background-color: pink;
    margin-top: 66px;
} */
.trending_image_container{
    height: 392px;
    /* background-color: pink; */
    width: 429px;
    margin-top: 31px;
    margin-left: 20px;
}

/* .trending_image_details_container{
    height: 73px;
    width: 404.27px;
    margin-top: 21px;
    background-color: aqua;
    margin-left: 12.36px;
    margin-bottom: 17.5px;
    margin-right: 12.36px;
} */
.trending_image_1{
    height: 404px;
    width: 429px;
    border-radius: 24px 24px 0px 0px;
}

.trending_image_2{
    height: 404px;
    width: 429px;
    border-radius: 24px 24px 0px 0px;
}
.trending_image_3{
    height: 404px;
    width: 429px;
    border-radius: 24px 24px 0px 0px;
}
.trending_image_details_container1{
    height: 63px;
    background-color: aqua;
    width: 404.27px;
    margin-top: 21px;
    margin-left: 12.36px;
    margin-right: 12.36px;
    margin-bottom: 17.5px;
}

.trending_image_details_container3{
    height: 63px;
    background-color: aqua;
    width: 404.27px;
    margin-top: 21px;
    margin-left: 12.36px;
    margin-right: 12.36px;
    margin-bottom: 17.5px;
}
.trending_text_container{
    height: 113px;
    width: 404.27px;
    margin-left: 32.36px;
    margin-right: 12.36px;
    background-color: yellowgreen;
}
.trending_text_container-1{
    height: 113px;
    width: 333px;
    background-color: rgb(166, 230, 209);
}
button.slick-arrow.slick-next {
    background: brown;
}
button.slick-arrow.slick-prev {
    background: brown;
}
img {
    height: 394px;
    width: 429px;
    border-radius: 24px 24px 0px 0px;
}

.slick-slider.slick-initialized {
    background: antiquewhite;
    /* height: 400px; */
    margin-left: 50px;
    margin-right: 50px;
}
button.slick-arrow.slick-prev {
    background: black;
}
button.slick-arrow.slick-next {
    background: blue;
}