<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout 9</title>
    <link rel="stylesheet" href="layout9.css">
</head>
<body>
    <div class="section">
        <div class="section-1"></div>

        <div class="section-2">

            <div class="section-2_1">
                <div class="section-2_11"></div>
                <div class="section-2_12"></div>
            </div>

            <div class="section-2_2">
                <div class="section-2_21"></div>

                <div class="section-2_22">

                    <div class="section-4">
                        <div class="section-4_1">

                            <div class="section-4_11">

                                <div class="section-8"></div>

                                <div class="section-9">
                                    <div class="section-9_1"></div>
                                    <div class="section-9_2"></div>
                                </div>

                                <div class="section-10"></div>
                            </div>
                            
                            <div class="section-4_12">
                                <div class="section-6"></div>
                                <div class="section-7"></div>
                            </div>
                        </div>
                        <div class="section-4_2"></div>
                    </div>

                    <div class="section-5">
                        <div class="section-5_1"></div>
                        <div class="section-5_2"></div>
                        <div class="section-5_3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-3"></div>

    </div>
</body>
</html>