body {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 1308.5px;
    max-height: 343px;
    justify-items: center;
    align-items: center;
    margin: 0px;
}

.body1 {
    display: flex;
    max-height: 422.984px;
    max-width: 1308.5px;
}

.body2 {
    display: flex;
    max-height: 422.984px;
    max-width: 1308.5px;

}

.body3 {
    display: flex;
    max-width: 1308.5px;
    max-height: 770.984px;
}

.login {
    display: flex;
    max-width: 1308.5px;
    max-height: 770.984px;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;
    box-sizing: border-box;
    overflow-x: hidden;
}

.form {
    display: flex;
    justify-content: center;
    width: 1308.5px;
    height: 634.984px;
    background-color: rgb(var(--ig-primary-background));
}

.page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1308.5px;
    height: 592.984px;
    position: relative;
    margin-bottom: 44px;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.body-container {
    display: flex;
    flex-direction: column;    
    max-width: 350px;
    height: 579.984px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    padding-left: 2px;
    margin-left: -10px;
    border-radius: 1px;
    background-color: #fff;
}

.body-section1 {
    display: flex;
    flex-direction: column;
    max-height: 379.984px;
    max-width: 348px;
    border: 1px solid rgb(219, 219, 219);
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 3px; */
    margin-bottom: 10px;

}

.logo-container {
    display: flex;
    width: 175px;
    height: 55px;
    margin-top: 36px;
    margin-bottom: 12px;
}

.logo {
    display: flex;
    width: 175px;
    height: 55px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 348px;
    height: 266.984px;
    margin-bottom: 15px;
}

.formsection {
    display: flex;
    flex-direction: column;
    background: 255, 255, 255;
    align-items: flex-start;
}

.formsection1 {
    display: flex;
    height: 214.984px;
    width: 348px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: -5px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-top: 3.75px;
    margin-bottom: 4px;
    position: relative;
    font-size: 8px;
    max-width: 268px;
    height: 36px;
    text-overflow: ellipsis;
    margin-left: 40px;
}

.field1 {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-bottom: 4px;
    position: relative;
    font-size: 8px;
    max-width: 268px;
    height: 36px;
    text-overflow: ellipsis;
    margin-left: 40px;
}


input {
    display: flex;
    padding: 9px 0px 7px 9px;
    max-width: 250px;
    max-height: 20px;
    font-size: 12px;
    width: 20rem;
    height: 1.4rem;
    outline: none;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    justify-items: center;
}

/* .username {
    display: flex;
    margin-top: 1px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
} */

/* .password {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
} */

/* label intial position*/
label {
    display: flex;
    position: absolute;
    pointer-events: none;
    left: 10px;
    padding-bottom: 15px;
    transform: translateY(10px);
    line-height: 6px;
    transition: all ease-out 0.1s;
    font-size: 12px;
    color: #414040;
    padding-top: 6px;
    justify-items: center;
}

/* hiding placeholder in all browsers */
input::placeholder {
    visibility: hidden;
}

/* hiding  placeholder in mozilla */
.login-form ::-moz-placeholder {
    color: transparent;
}

/* label final position */
input:not(:placeholder-shown)+label {
    transform: translateY(0);
    font-size: 11px;
}

/* input padding increases if placeholder is not shown */
input:not(:placeholder-shown) {
    padding-top: 14px;
    padding-bottom: 2px;
}

.login-button {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 75%;
    padding: 0.5rem;
    border: 1px solid transparent;
    background-color: #74b6f4;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 40px;
    border-radius: 7.5px;
}

.or-container {
    display: flex;
    flex-direction: row;
    width: 268px;
    height: 14.984px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 40px;
}

.or-section {
    display: flex;
    flex-direction: row;
    width: 268px;
    height: 14.984px;
    align-items: center;
}

.or-section1 {
    display: flex;
    width: 107.05px;
    height: 1px;
    background-color: #999;
    align-items: center;
}

.or-section2 {
    display: flex;
    width: 17.92px;
    height: 14.92px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: -5px;
    font-weight: 600;
    font-size: .8125rem;
    line-height: 1.1538;
    text-decoration: #999;
}

.or-section3 {
    display: flex;
    width: 107.05px;
    height: 1px;
    background-color: #999;
}

.facebook {
    display: flex;
    width: 268px;
    height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
}

.fb-login-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 286px;
    height: 20px;
    --ig-primary-button: 0, 149, 246;
    border: 0px transparent;
    background-color: #fff;
}

.fb-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;

}

img {
    height: 16px;
    width: 16px;
    justify-content: left;
}

.fb-text {
    width: 134.86px;
    height: 19px;
}

.forgot {
    display: flex;
    width: 348px;
    height: 16px;
    font-size: 11.5px;
    color: #003569;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    margin-right: -30px;
}

.body-section2 {
    display: flex;
    justify-content: center;
    vertical-align: baseline;
    width: 350px;
    height: 63px;
    background-color: #ffff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 8px;
    align-items: center;
}

.body-section2-1 {
    display: flex;
    width: 226.84px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.account {
    display: flex;
    flex-direction: row;
    width: 196.844px;
    height: 18px;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

text {
    display: flex;
    height: 19px;
    width: 148.5px;
}

.sign {
    color: #3897f0;
    font-weight: 600;
}

.body-section3 {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 95px;
    align-items: center;
    margin-top: 12px;
}

.get-app {
    display: flex;
    width: 310px;
    height: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    direction: ltr;
}

.app {
    display: flex;
    vertical-align: baseline;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
}

.app-icon {
    display: flex;
    flex-direction: row;
    height: 44px;
    width: 350px;
    margin-top: 3px;
    margin-bottom: 10px;
    justify-content: center;
}

.play {
    display: flex;
    width: 134.281px;
    height: 44px;
    margin-right: 8px;
}

.playstore {
    display: flex;
    width: 134.281px;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.store {
    display: flex;
    width: 110.77px;
    height: 44px;
    margin-top: -2px;
    margin-right: -2px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.microsoft {
    display: flex;
    width: 110.77px;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    width: calc(1292px - 32px);
    height: 134px;
    margin-top: 5px;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    max-width: 1260px;
    height: 92px;
    margin-bottom: 52px;
}

.footer-section1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: 1268px;
    height: 23px;
    margin-top: 28px;
    justify-content: center;
}

.footer-section2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 11px;
    margin-bottom: 12px;
    margin-top: 12px;
    /* margin-left: 3px;
    margin-right: 3px; */
    justify-content: center;
}

.footer-section1-1 {
    display: flex;
    flex-direction: row;
    max-width: 1260px;
    height: 23px;
    /* margin-left: 150px; */
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;

}

.part1 {
    display: flex;
    width: 27.234px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part2 {
    display: flex;
    width: 32.688px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part3 {
    display: flex;
    width: 23.89px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part4 {
    display: flex;
    width: 23.47px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part5 {
    display: flex;
    width: 24.77px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part6 {
    display: flex;
    width: 17.66px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part7 {
    display: flex;
    width: 37.02px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part8 {
    display: flex;
    width: 31.11px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part9 {
    display: flex;
    width: 71.09px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part10 {
    display: flex;
    width: 50.22px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part11 {
    display: flex;
    width: 75.13px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part12 {
    display: flex;
    width: 172.16px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.part13 {
    display: flex;
    width: 70.56px;
    height: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

a {
    display: flex;
    justify-content: center;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgb(115, 115, 115);
    text-align: center;
    text-transform: capitalize;
    margin-top: -2px;

}

.part14 {
    display: flex;
    height: 11px;
    width: 53.63px;
    flex-direction: row;
    justify-content: center;
}

.language {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 16px;
    width: 53.63px;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgb(115, 115, 115);
    text-align: center;
}

.part15 {
    display: flex;
    height: 11px;
    width: 155.16px;
    margin-left: 16px;
    justify-content: center;
}

.insta {
    display: flex;
    flex-direction: row;
    height: 11px;
    width: 155.156px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(115, 115, 115);
    text-align: center;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.lite {
    display: flex;
    width: 155.16px;
    height: 11px;
    font-weight: 400;
    font-size: 12px;

}