.app {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 200px;
  margin-left: 40px;
}

.app .password,
.app .confirmpwd {
  margin-bottom: 10px;
  width: 300px;
}

.app input[type='password'] {
  width: 94%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.app .err {
  color: red;
  font-size: 14px;
}

.app button {
  display: block;
  width: 88%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Query for screens with a maximum width of 425px */
@media screen and (max-width: 425px) {
  .app {
    padding: 10px;
  }

  .app input[type='password'] {
    font-size: 14px;
  }

  .app .button {
    font-size: 14px;
    width: 500px;
    margin-left: 100px;
  }
}