*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	
  /* border: 2px solid red; */
}

body{
	font-size: 14px;
	background-color: #f9f9f9;
}

a{
    color: #0366d6;
}

.page-container{
	max-width: 310px;
	width: 100%;
	height: auto;
	margin: 30px auto;
  	margin-bottom: 0 auto 25px;
}

