.page-container .footer{
	padding: 40px 0;
	text-align: center;
  /* border: 2px solid orangered; */
}

.page-container .footer ul li{
	display: inline-block;
  /* border: 2px solid palevioletred; */
}

.page-container .footer ul li a{
	font-size: 12px;
	margin-right: 15px;
  /* border: 2px solid slateblue; */
}

.page-container .footer ul li a:hover{
/* .page-container .footer ul li:last-child a:hover{ */
	color: #0366d6;
	/* text-decoration: underline; */
  /* border: 2px solid tomato; */
}

/* .page-container .footer ul li:last-child a{ */
	/* color: #586069; */
  /* border: 2px solid red; */
/* } */