.page-container .title{
	margin-bottom: 5px;
	margin-top: 28px;
	font-size: 22.8px;
	font-weight: var(--base-text-weight-light, 300);
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	text-align: center;
	color: #333;
  /* border: 2px solid black; */
}
