.gmail-container{
    text-align: right;
    vertical-align: text-top;
    height: 20px;
    width: 35cm;
    
}

.image-container{
    text-align: right;
    vertical-align: text-top;
    height: 20px;
    width: 40cm;
}