div {
    /* border: 1px solid green; */
    height: 60px;
}

body {
    padding: 0px;
    margin: 0px;
}

.page-container {
    background: #202124;
    font-family: arial,sans-serif;
}
.header-container {
    height: 60px;
}

.header-body {
    float: right;
    display: flex;
    /* padding: 10px; */
    margin-top: 5px;


}


.header-links {
    display: flex;
    padding: 10px;
    padding-right: 5px;
    margin-top: 0px;
    align-items: center;
    height: 24px;
    padding-top: 10px;
}


.header-link {
    
    color: rgba(0,0,0,.87);
    font-size: 13px;
    font-weight: 300;
    margin-top: 2px;
    font-family: Arial, sans-serif;
}
.header-labal{
    margin-top: 3px;
    margin-left: 2px;
    margin-block: 1px;
    margin-right: 2px;
    display: flex;
    height: 48px;
    width: 100px;
    padding-right: 15px;
    /* border: 1px solid red; */
}

.app-icon {
    height: 24px;
    width: 24px;
    
    /* border: 2px solid blue; */
   
    
}

.header-profile-pic {
    border-radius: 100px;
    height: 32px;
    width: 32px;
    padding-left: 2px;
    /* background: purple; */
    /* padding-right: 10px; */
}

.profile-pic{
   border-radius:50% ;
   background-size: 32px 32px;
   height: 32px;
   width: 32px;
   border: 0px;

}

.header-img{
    margin-top: 3px;
    margin-left: 3px;
    margin-block: 1px;
    margin-right: 2px;
    display: flex;
    height: 48px;
    width: 100px;
    /* border: 1px solid purple; */
}