body {
  /* height: 100%;
  width: 100%;
  display:flex; 
  flex-wrap:wrap;*/
  margin: 0px 0px 0px 0px;
  background-color: rgba(32, 33, 36, 1);
  

}

.page-container{
    height: 100%;
    /* width: 100%; */
    display:flex;
    flex-direction: column;
    /* background-color: rgba(32, 33, 36, 1); */

}

.header-container{
    padding: 6px 6px 7px 6px;
    height: 47px;
    display: flex;
    background-color: rgba(32, 33, 36, 1);
    align-content: flex-end;
    justify-content: end;
    width: inherit;
    align-items: center;


}

/*.header-body{
    float: right;
    display: flex;
    background-color: rgba(32, 33, 36, 1);
}*/
.navigation-container {
  display:flex;
  justify-content: flex-end;
  padding-left: 32px;
  padding-right: 4px;
  align-items:center;
  align-content: start;
  flex-wrap: wrap;
    /* min-width: 320px;;  */
  float: right;
  height: 48px;
  padding-top:6px;
  /* border: solid 1px black; */
}


.text-container {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  float: right;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: rgb(255, 255, 255);
  height: 24px;
  text-decoration: none;
  padding-right: 14px;
}

.text-label-container{
  padding-left: 15px;
  font-size: 13px;
  
}

.images-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  float: right;
  padding-left: 13px;
  padding-right:5px;
  vertical-align: middle;
  padding-top: 1px;
  /* height: 24px; */
  /* width: 24px; */
}


.profile_img {
  height: 32px;
  width: 32px;
  align-items: center;
  border-radius: 100px;
}

.image-label-menuapp-container {
  width: 24px;
  height: 24px;
  padding-right: 15.5px;
  /* color: rgba(255, 255, 255, 0.87);
  opacity: 1; */
}


/* .menuapp-label-svg-container{
  padding:8px 8px 8px 8px;
} */

.image-label-profile-container{
    justify-content: flex-end;
    padding: 4px 3.5px 4px 4px;

}

.profile-label-container{
  border-radius: 50% 50% 50% 50%;
}

/*body-container*/
.body-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  /* width:100%; */
  flex-wrap:wrap;
  align-content: center;

}


.logo-container{
    height:92px;
    display:flex;
    flex-wrap:wrap;
    align-content: center;
    width:inherit;
    align-items: center;
    justify-content: center;

}

.logo-GoogleLogo-container{
    margin-top: auto;
    max-width: 100%;
}

.Google-Logo{
  height:92px;
  width: 272px;
}

.searchbox-container{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 22px;
    padding-bottom: 18px;
    height:120px;
    width: auto;
}

.searchbox-navbar-container{
    display:flex;
    height: 142px;
    padding-top: 4px;
    /* flex-wrap: wrap; */
    flex-direction: column; /**/
    /* align-content: space-between; */
    justify-content: flex-start;/* flex-start */
    align-items: center;
    row-gap: 19px;
    
}

.navbar-searchbar-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
  align-items: stretch;
}

.search-box{
  color:#9aa0a6;
  display: flex;
	align-items: center;
	/*background-color: #202124;*/
	border-radius: 24px;
  box-shadow: none;
  margin: 0 auto;
	border: 1px  solid #5f6368;
	height: 46px;
	padding: 0 16px;
	width: auto;
  justify-content: center;
  width: 550px;
  
}

.searchbar-container{
    display:flex;
    height:44px;
    border-radius: 24px;
    /* border:1px 1px 1px 1px;
    border: #5f6368; */


}

.searchbar-magnifier-container{
  align-items: center;
  display: flex;
  display:flex;
  align-items: center;
  padding-right: 13px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 9px ;
  margin-bottom: 9px;
}


.magnifier-svgmagnifier{
  width: 24px;
  height: 24px;
  /* padding-right: 15.5px; */
}

.typebox{
  height:27px;
  width:443px;
  background-color: transparent;
  border: none;
  margin: 0%;
  padding: 0px;
  outline: none;
}

.searchbar-otheroption-container{
  display:flex;

}

.otheroption-voicesearch-container{
display:flex;
flex-wrap:wrap;
align-content: center;

}

.otheroption-googlelens-container{
display:flex;
flex-wrap:wrap;
align-content: center;

}
.voicesearch{
  width: 24px;
  height: 24px;
  padding-right: 15.5px;
}

.googlelens{
  width: 24px;
  height: 24px;
  /* padding-right: 15.5px; */
}

.navbar-quicksearch-container{
  display:flex;
  column-gap: 10px;
  width:100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.language-container{
  height:219px;
  text-align: center;
  width: 100%;
}

.language-googlelanguages-container{
  margin-bottom:24px;
  height:28px;
  font-size: small;
  font-family: ariel, sans-serif;
}

.googlelanguages-googlelanguage-container{
  color:bdc1c6;
  display: inline-block;
  line-height: 28px;
}

.googlelanguage-languages{
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
  color:#8ab4f8;

}


.navbar-quicksearch-container{
  display:flex;
  column-gap: 3px;
  width:100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}


.textbox-googlesrc-container{
    height: 36px;
    padding: 0px 16px;
    margin:10px 4px;
    border:1px #303134;
    background-color: #303134;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    cursor:pointer;
    text-align: center;
    padding-right: 16.5px;
}  


.textbox-feelinglucky-container{
    height:36px;
    padding: 0px 16px;
    margin:10px 4px;
    border:1px #303134;
    background-color: #303134;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    cursor:pointer;
    text-align: center;
    padding-left: 15.5px;
} 

.footer-container{
  display:flex;
  flex-direction:column;
  height:94px;
  background-color: #171717;
}

.footer-footerp1-container{
  display:flex;
  font-family: ariel, sans-serif;
  font-size: 15px;
  color:#9aa0a6;
  border-bottom:1px solid #3c4043;
  padding: 15px 30px;
  height: 17px;
}

.footer-footerp2-container{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size:14px;
  font-family: ariel, sans-serif;
  
  padding-left: 35px;
  padding-right: 35px;
  height: 46px;
  /* row-gap: 100px; */
  /* width:200px; */
}

.footerp2-about-container{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 30px;
  color:#303134;
}

.footerp2-termsandsettings-container{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 30px;
  color:#303134;
}

a.about-links{
  color: #9aa0a6;
  text-decoration: none;
  text-align: center;
}

/*Body-container*/
/*
.logo-container{
    height:92px;
    display:flex;
    align-items: center;
}

.googlelogo-container{
    margin-top: auto;
    max-width: 100%;
}

.searchbox-container{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height:160px;
}

.navbar-container{
    height: 138px;
    padding-top: 6px;
    margin: 168.5px;
}

.searchbar-container{
    display:flex;
    height:44px;
    border-radius: 24px;
    border:1px 1px 1px 1px;
    border-color: #5f6368;


}

.magnifier-container{
    display:flex;
    align-items: center;
    padding-right: 13px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 9px ;
    margin-bottom: 9px;

}

.otheroptions-container{
    display:flex;
    margin: top -5px;
    height: 44px;

}

.voicesearch{
    height:24px 24px 24px 24px;
}

.googlens{
    height:24px 24px 24px 24px;
}*/
