div {
    border: 1px solid rgb(255, 255, 255)
}
body{
    padding: 0px;
    margin: 0px;
}

.page-container {
    background: #fcfdfe;
    font-family: arial,sans-serif;
}

.header-container {
    height: 60px
}

.header-body {
    margin-top: 2px;
    margin-left: 2px;
    height: 55px;
    float: right;
    display: flex
    
}

.app-icon {
    height: 24px;
    width: 24px;
    padding-right: 6px;

    border: 2px solid rgb(252, 252, 255)
    
}

.header-link{
    display: flex;
    padding: 3px;
    margin: 2px;
    align-items: center;
    height: 44px;
    width: 110px;
    color: #070707;
    font-size:13px;
    margin-top:2px;
    font-weight: 300;
    /* padding: 10px; */
    padding-top: 1px;
    padding-right: 5px;
    padding-left: 4px;
   
}

.header-gmail{
    display: flex;
    /* padding: 10px; */
    /* padding-left: 2px; */
    /* padding-right: 2px; */
    padding: 3px;
    padding-left: 2px;
    padding-right: 10px;
    height: 25px;
    width: 22px;
    align-items: center;
}

.header-image{
    display: flex;
    padding: 3px;
    height: 24px;
    width: 35px;
    align-items: center;
    padding-left: 10px;
    padding-right: 40px;
}

.header-img{
    display: flex;
    /* margin-top: 2px; */
    margin-right: 4px;
    /* margin-bottom: 6px; */
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 4px;
    height: 49px;
    width:90px;
}

.header-icon{
    display: flex;
    padding: 4px;
    padding-top: 8px;
    height: 25px;
    width: 30px;
    align-items: center;
}


.header-profile-pic {
    display: flex;
    height: 32px;
    width: 30px;
    padding-top: 4px;
    padding-right: 2px;
    padding: 5px;
    align-items: center;
    position: relative;
    height: 33px;
    width: 34px;
    
}

.profile-pic{
    display: flex;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 100px;
    padding: 1px;
    
}

