body{
    /* width: 90%;
    height: 90%; */
    border: 3px solid black;
}

div{
    border: 1px salmon;
}
.page-container{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    border-style:dashed;
    border: 1px;
    /* border-color: brown; */
}
.section1{
    display: flex;
    flex-direction: column;
    height: 730px;
    width: 300px;
    border: 2px;
    border-style: solid;
    border: 1px solid red ;
}
.section2{
    display: flex;
    flex-direction: column;
    height: 730px;
    width: 300px;
    border: 2px;
    border-style: solid;
    border: 1px solid blue ;
}
 .section3{
    display: flex;
    flex-direction: column;
    height: 730px;
    width: 1005px;
    border: 2px;
    border-style: solid;
    border: 1px solid yellow ;
}
.section3-1{
    display: flex;
    width: auto;
    height: 100px;
    border: 1px solid red; 
    
}
.section3-2{
    display: flex;
    width: auto;
    height: 500px;
    border: 1px solid green;
}
.section3-3{
    display: flex;
    width: auto;
    height: 500px;
    border: 1px solid black;
}
.section3-2-1{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 800px;
    border: 2px;
    border-style: solid;
    border: 1px solid black ;
}
.section3-2-2{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 200px;
    border: 2px;
    border-style: solid;
    border: 1px solid red ;
}
.section3-2-2-1{
    display: flex;
    width: auto;
    height: 200px;
    border: 1px solid red; 
    
}
.section3-2-2-2{
    display: flex;
    width: auto;
    height: 200px;
    border: 1px solid red; 
    
}
.section3-2-2-3{
    display: flex;
    width: auto;
    height: 200px;
    border: 1px solid red; 
    
}

.section3-3-1{
    display: flex;
    flex-direction: column;
    height: 262px;
    width: 500px;
    border: 2px;
    border-style: solid;
    border: 1px solid blue;
}
.section3-3-2{
    display: flex;
    flex-direction: column;
    height: 262px;
    width: 500px;
    border: 2px;
    border-style: solid;
    border: 1px solid blue;
}