@media screen and (max-width: 480px) {
    .Profile-Section{
        /* background-color: peachpuff; */
        font-family: 'Poppins','Roboto';
        background-color: #f5f5f5;
    }


    .Profile-Section-Top-Layout{
        display: flex;
        flex-direction: column;
        /* align-content: flex-start; */
        flex-wrap: wrap;
        row-gap: 10px;
        width: 100%;
        background-color: #0f0f0f;
    }

    .Profile-Section-Top-Layout-Exit{
        display: flex;
    }

    .Profile-Section-Top-Layout-Subsection{
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        align-items: center;

    }

    .Profile-Section-Body-Layout{
        display: flex;
        flex-direction: column;
        row-gap: 10px;

    }

    /* .Profile-Section-Option-Lists-Subsection{
        border-bottom: 1px solid grey;
        border-radius: 1px;
    } */

    .Profile-Section-Option-Lists-Footersection{
        border-top: 1px solid blueviolet;

    }

    .Emergency-Contact{
        display: flex;
    }

    .Top-Layout-Subsection-UserName {
        margin-left: 20px;
        color: #f5f5f5;
        font-family: 'Roboto';
        
    }

    .Top-Layout-Subsection-UserImage {
        margin-right: 31px;
    }

    .Profile-Section-Option-Lists{
        display: flex;
        flex-direction: column;
    }
    
    .Option-Buttons{
        border-radius: 0px;
        height: max-content;
    }

    .ul .Option-Buttonss-Heading{
        font-size: 20px;
        font-weight: 400;
    }

    .Profile-Section-Option-Lists-Subsection{
        text-align: left;
    }

    .Profile-Section-Option-Lists-Footersection{
        height: min-content;
    }
}