<!DOCTYPE html>
<html lang="en">

<head>
    <title>Layout 5</title>
    <link rel="stylesheet" href="layout5.css">
</head>

<body>
    <div class="section">
        <div class="section1">


            <div class="section4">

                <div class="section6">
                    <p>They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.</p>

                </div>

                <div class="section7">
                    <p>They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.</p>

                </div>

            </div>

            <div class="section5">

                <div class="section8">
                    <div class="section12">
                        <p>They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.
                            They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.
                            They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.
                            They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.
                            They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.
                            They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.</p>

                    </div>
                    <div class="section13">
                        <p>They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.
                            They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.
                            They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.
                            They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.
                            They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.
                            They make people smile, happy, hopeful and better.People love gardening their homes with
                            different kinds of flowers.</p>

                    </div>
                </div>

                <div class="section9">
                    <p>They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with
                        different kinds of flowers.</p>

                </div>

            </div>
        </div>

        <div class="section2">
            <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.
                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds
                of flowers.</p>

        </div>

        <div class="section3">
            <div class="section10">
                <p>They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.</p>

            </div>
            <div class="section11">
                <p>They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different
                    kinds of flowers.</p>

            </div>
        </div>

    </div>
</body>

</html>