<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout 3</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="section">
        <div class="section-1">
            <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
        </p>
        </div>

        <div class="section-2">
            <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
      </p>
        </div>

        <div class="section-3">
            <div class="section-3_1">
                <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.</p>
            </div>

            <div class="section-3_2">
                <div class="section-3_21">
                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.</p>
                </div>

                <div class="section-3_22">
                    <div class="section-3_221">
                        <p> 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.</p>
                    </div>
                    <div class="section-3_222">
                        <p> 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.</p>
                    </div>
                    <div class="section-3_223">
                        <p>
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                            Nature does not arise spontaneously but needs years
                            and years to bloom and blossom.</p>
                    </div>
                </div>

            </div>

            <div class="section-3_3">
                <div class="section-3_31">
                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                  </p>
                </div>

                <div class="section-3_32">
                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>