.section{
    border: 1px solid black;
    height: 630px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section-1{
    border: 1px solid purple;
    height: 630px;
    width: 25%;
    overflow: scroll;
}
.section-2{
    border: 1px solid purple;
    height: 630px;
    width: 25%;
    overflow: scroll;
}
.section-3{
    border: 1px solid purple;
    height: 630px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.section-3_1{
    border: 1px solid red;
    width: 100%;
    height: 50%;
    overflow: scroll;
}
.section-3_2{
    border: 1px solid red;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.section-3_3{
    border: 1px solid red;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.section-3_21{
    border: 1px solid green;
    height: 100%;
    width: 60%;
    overflow: scroll;
}
.section-3_22{
    border: 1px solid green;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.section-3_31{
    border: 1px solid greenyellow;
    height: 100%;
    width: 50%;
    overflow: scroll;
}
.section-3_32{
    border: 1px solid greenyellow;
    height: 100%;
    width: 50%;
    overflow: scroll;
}

.section-3_221{
    border: 1px solid grey;
    height: 50%;
    width: 100%;
    overflow: scroll;
}
.section-3_222{
    border: 1px solid grey;
    height: 50%;
    width: 100%;
    overflow: scroll;
}
.section-3_223{
    border: 1px solid grey;
    height: 50%;
    width: 100%;
    overflow: scroll;
}