.Amenities{
    height: 651px;
    width: 1533px;
    border: 1px solid rgb(35, 22, 22);
}
.heading{
    display: flex;
    flex-direction: column;
    height: 110px;
    width: 1531px;
    margin-top: 77px;
    /* border: 1px solid blue; */

}
.abc1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
    height: 67px;
    width: 1440px;
}
.text1{
    width: 223px;
    height: 47px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 47px;
    margin-left: 120px;
    color: #212325;
}
.abc2{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 14px; */
    height: 41px;
    width: 1440px;
}
.text2{
    width: 290px;
    height: 21px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 11px;
    margin-left: 143px;
    color: #131414a3;
}
.boxes{
    display: flex;
    flex-direction: row;
    height: 475;
    width: 1533px;
    /* border: 1px solid pink; */
}
.box1{
    display: flex;
    position: relative;
    height: 475px;
    width: 663px;
    /* border: 1px solid black; */
}
.box2{
    height: 475px;
    width: 1047px;
    /* border: 1px solid black; */
}