.Amenities{
    height: 651px;
    width: 1533px;
    margin-top: 50px;
    /* background-color: green; */
    border: 1px solid rgb(203, 51, 51);
}
.heading{
    display: flex;
    flex-direction: column;
    height: 110px;
    width: 1531px;
    margin-top: 77px;
    /* border: 1px solid blue; */

}
.abc1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
    height: 67px;
    width: 1440px;
}
.text1{
    width: 223px;
    height: 47px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 47px;
    margin-left: 120px;
    margin-top: -671px;
    color: #212325;
}
.abc2{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 14px; */
    height: 41px;
    width: 1440px;
}
.text2{
    width: 290px;
    height: 21px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: -671px;
    margin-left: 143px;
    color: #131414a3;
}
.boxes{
    display: flex;
    flex-direction: row;
    height: 219px;
    width: 1533px;
    margin-top: 83px;
    border: 1px solid rgb(17, 11, 12);
}
.icm-1{
    height: 651px;
    width: 1533px;
    margin-top: 20px;
}
.sec{
    display: flex;
    flex-direction: column;
    height: 219px;
    width: 1463px;
    margin-left: 32px;
    margin-top: -591px;
    border: 2px solid blue;
}
