/* div {
    border: 2px solid red
} */
body {
    padding: 0px;
    margin: 0px;
    flex-direction: column;
}

.page-container {
    background: #ffff;
    font-family: arial, sans-serif;
    height: 60px;

}

.header-container {
    display: flex;
    float: right;
    height: 48px;
    /* min-width: 811px;
    max-width: 100%; */
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
    align-items: center;

}

.header-body {
    height: 48px;
    /* width: 221.59px; */
    float: right;
    display: flex;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;

}

.header-labels {
    display: flex;
    height: 48px;
    width: 48px;
    /* padding: 6px; */
    margin: 3px;
    align-items: center;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
}

.header-label {
    width: 33.9531px;
    height: 24px;
    color: #000;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 300;
    display: inline-block;
    font-stretch: 100%;
    font-style: normal;
    font-family: arial, sans-serif;
}

.header-label-gmail {
    height: 24px;
    width: 33.9531px;
    cursor: pointer;
    line-height: 24px;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.app-icon {
    height: 40px;
    width: 40px;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: Roboto, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.header-profile-pic {
    justify-content: center;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    background: #ffff;
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 1;
    font-size: 13px;
}

.profile-pic {
    padding: 4px;
    height:48px;
    width: 48;

}