/* SlickSlider.css */

/* Style the container */
.slick-slider {
    position: relative;
    display: block;
  }
  
  /* Style the slide items */
  .slick-slide img {
    width: 64%;
    height: auto;
    margin-top: 63px;
    margin-left: 85px;
}
  
  
  /* Style the dots navigation */
  .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 10px;
    height: 10px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    background-color: #ddd;
    text-indent: -9999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slick-dots li.slick-active button {
    background-color: #555;
  }
  



  .main {
    height: 222px;
    width: 397px;
    /* border: 2px solid red; */
}

button.slick-arrow.slick-next {
    display: none;
}

