@media screen and (max-width:425px) {
  .box {
    display: flex;
    width: 425px;
    flex-direction: column;
    /* background-color: blue; */
    height: 350px;
  }

  .box1 {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 400px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000;
    background-color: #f2f2f2;
  }

  .butn-box1,
  .butn-box2 {
    flex: 1;
    border: 1px solid #000;
    margin: 10px;
    background-color: whitesmoke;
    padding: 10px;
    width: 150px;
    height: 100px;
  }

  .butn-box1 {
    margin-right: 50px;
  }

  .label {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }

  .butn-box1:hover,
  .butn-box2:hover {
    background-color: #999;
    color: #fff;
  }

  .box2 {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 400px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000;
    background-color: #f2f2f2;
  }

  .butn-box3 {
    flex: 1;
    border: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 10px;
    background-color: whitesmoke;
    padding: 10px;
    width: 150px;
    height: 100px;
  }

  .butn-box4 {
    flex: 1;
    border: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: whitesmoke;
    padding: 10px;
    width: 150px;
    height: 100px;
  }

  .label {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }

  button {
    background-color: #e7e7e7;
    color: #333;
    padding: 10px 20px;
    border: none;
    transition: border 0.3s ease;
  }

  button:hover {
    border: 2px solid #999;
  }



}