<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout 1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="section">
        <div class="section-1">
            <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                Nature does not arise spontaneously but needs years
                and years to bloom and blossom.London is the capital city of England. 
                It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                Standing on the River Thames, London has been a major settlement for two millennia, 
                its history going back to its founding by the Romans, who named it Londinium.London is the capital city of England. 
                It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                Standing on the River Thames, London has been a major settlement for two millennia, 
                its history going back to its founding by the Romans, who named it Londinium.London is the capital city of England. 
                It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                Standing on the River Thames, London has been a major settlement for two millennia, 
                its history going back to its founding by the Romans, who named it Londinium.</p>
        </div>

        <div class="section-2">

            <div class="section-2_1">
                <div class="section-2_11">
                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.</p>
                </div>

                <div class="section-2_12">
                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.</p>
                </div>
            </div>

            <div class="section-2_2">
                <div class="section-2_21">
                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.</p>
                </div>

                <div class="section-2_22">
                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.</p>
                </div>
                
                <div class="section-2_23">
                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.London is the capital city of England. 
                        It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                        Standing on the River Thames, London has been a major settlement for two millennia, 
                        its history going back to its founding by the Romans, who named it Londinium.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>