<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout 8</title>
    <link rel="stylesheet" href="layout8.css">
</head>
<body>
    <div class="section">

        <div class="section1">
            <div class="section3">
                <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                
            </div>
            <div class="section4">
                <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                
            </div>
        </div>

        <div class="section2">

            <div class="section5">
                <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                
            </div>
            <div class="section6">

                <div class="section7">

                    <div class="section9">

                        <div class="section15">
                            <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                           
                        </div>

                        <div class="section16">

                            <div class="section17">
                                <div class="section21">
                                    <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                                    
                                </div>
                                <div class="section22"></div>
                            </div>
                            <div class="section18">
                                <div class="section23"></div>
                                <div class="section24">
                                    <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                                  
                                </div>
                            </div>
                            <div class="section19">
                                <div class="section25"></div>
                                <div class="section26"></div>
                            </div>
                            <div class="section20">
                                <div class="section27">
                                    <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                                  
                                </div>
                                <div class="section28"></div>
                            </div>
                        </div>
                    </div>

                    <div class="section10">
                        <div class="section11">
                            <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                           
                        </div>
                        <div class="section12"></div>
                        <div class="section13">
                            <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                           
                        </div>
                        <div class="section14">
                            <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                                They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                           
                        </div>
                    </div>
                </div>

                <div class="section8">
                    <p>They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers.
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                        They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers</p>
                    
                </div>

            </div>

        </div>

    </div>
</body>
</html>
