.section{
    border: 1px solid black;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section1{
    border: 1px solid white;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section2{
    border: 1px solid white;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section3{
    border: 1px solid white;
    height: 100%;
    width: 40%;
    background-color: brown;
    overflow: scroll;
}
.section4{
    border: 1px solid white;
    height: 100%;
    width: 60%;
    background-color: black;
    overflow: scroll;
    color: white;
}
.section5{
    border: 1px solid white;
    height: 100%;
    width: 30%;
    background-color: green;
    overflow: scroll;
}
.section6{
    border: 1px solid white;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.section7{
    border: 1px solid white;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section8{
    border: 1px solid white;
    height: 25%;
    width: 100%;
    background-color: orange;
    overflow: scroll;
}
.section9{
    border: 1px solid white;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.section10{
    border: 1px solid white;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.section11{
    border: 1px solid white;
    height: 25%;
    width: 100%;
    background-color: red;
    overflow: scroll;
}
.section12{
    border: 1px solid white;
    height: 25%;
    width: 100%;
}
.section13{
    border: 1px solid white;
    height: 25%;
    width: 100%;
    background-color: red;
    overflow: scroll;
}
.section14{
    border: 1px solid white;
    height: 25%;
    width: 100%;
    background-color: rgb(248, 176, 176);
    overflow: scroll;
}
.section15{
    border: 1px solid white;
    height: 40%;
    width: 100%;
    background-color: blue;
    overflow: scroll;
}
.section16{
    border: 1px solid white;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section17{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.section18{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    flex-direction: column;
}
.section19{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    flex-direction: column;
}
.section20{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    flex-direction: column;
}
.section21{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: rgb(248, 176, 176);
    overflow: scroll;
}
.section22{
    border: 1px solid white;
    height: 50%;
    width: 100%;
}
.section23{
    border: 1px solid white;
    height: 50%;
    width: 100%;
}.section24{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: rgb(248, 176, 176);
    overflow: scroll;
}
.section25{
    border: 1px solid white;
    height: 50%;
    width: 100%;
}
.section26{
    border: 1px solid white;
    height: 50%;
    width: 100%;
}
.section27{
    border: 1px solid white;
    height: 50%;
    width: 100%;
    background-color: rgb(248, 176, 176);
    overflow: scroll;
}
.section28{
    border: 1px solid white;
    height: 50%;
    width: 100%;
}