.box-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 82px;
    width: 1262px;
    margin-bottom: 52px;
    align-items: center;
    justify-content: center;
}

.footer-section1{
    display: flex;
    flex-direction: row;
    width: 1262px;
    height: 23px;
    margin-top: 23px;
    align-items: center;
    justify-content: center;
}

.footer-section2{
    display: flex;
    flex-direction: row;
    width: 1262px;
    height: 11px;
    margin-top: 12px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
}

