<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout 3</title>
    <link rel="stylesheet" href="layout3.css">
</head>
<body>
    <div class="section">
        <div class="section1">
            <p>There are flowers of different shapes, different sizes, different colours and different fragrance.
                 Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                  They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                  Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                   They make people smile, happy, hopeful and better. People like rose it has become a symbol of love. are flowers of different shapes, different sizes, different colours and different fragrance.
                  Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                   They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                   Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                    They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                    Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                     They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                     Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                      They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                      Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                       They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.</p>
        </div>

        <div class="section2">
            <p>There are flowers of different shapes, different sizes, different colours and different fragrance. 
                Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers. 
                They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                 They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                 Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                  They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                  Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                   They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                   Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                    They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better.</p>
        </div>

        <div class="section3">
            <div class="section4">
                <p>There are flowers of different shapes, different sizes, different colours and different fragrance. 
                    Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers. 
                    They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                    Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                     They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                     Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                      They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.</p>
            </div>

            <div class="section5">
                <div class="section7">
                    <p>There are flowers of different shapes, different sizes, different colours and different fragrance.There are flowers of different shapes, different sizes, different colours and different fragrance.
                        Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                         They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                         Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                          They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                          Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                           They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.</p>
                </div>

                <div class="section8">
                    <div class="section11">
                        <p>There are flowers of different shapes, different sizes, different colours and different fragrance.There are flowers of different shapes, different sizes, different colours and different fragrance.
                            Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                             They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                            Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                             They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.</p>
                    </div>
                    <div class="section12">
                        <p>There are flowers of different shapes, different sizes, different colours and different fragrance.There are flowers of different shapes, different sizes, different colours and different fragrance.
                            Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                             They make people smile, happy, hopeful and better. People like rose it has become a symbol of love. are flowers of different shapes, different sizes, different colours and different fragrance.
                            Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                             They make people smile, happy, hopeful and better. People like rose it has become a symbol of love. </p>
                    </div>
                    <div class="section13">
                    <p>There are flowers of different shapes, different sizes, different colours and different fragrance.There are flowers of different shapes, different sizes, different colours and different fragrance.
                        Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                         They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                        Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                         They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.</p>
                    </div>
                </div>

            </div>

            <div class="section6">
                <div class="section9">
                    <p>There are flowers of different shapes, different sizes, different colours and different fragrance.There are flowers of different shapes, different sizes, different colours and different fragrance.
                        Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                         They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                         Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                          They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                        Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                         They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.</p>
                </div>

                <div class="section10">
                    <p>There are flowers of different shapes, different sizes, different colours and different fragrance.There are flowers of different shapes, different sizes, different colours and different fragrance.
                        Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                         They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                         Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                          They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.There are flowers of different shapes, different sizes, different colours and different fragrance.
                          Flowers add beauty to nature and to our surroundings. People love gardening their homes with different kinds of flowers.
                           They make people smile, happy, hopeful and better. People like rose it has become a symbol of love.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>