<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout 8</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="section">

        <div class="section-1">
            <div class="section-1_1">
                <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.</p>
            </div>
            <div class="section-1_2">
                <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.</p>
            </div>
        </div>

        <div class="section-2">

            <div class="section-2_1">
                <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                    Nature does not arise spontaneously but needs years
                    and years to bloom and blossom.</p>
            </div>
            <div class="section-2_2">

                <div class="section-2_21">

                    <div class="section-2_211">

                        <div class="section-2_211_1">
                            <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.</p>
                        </div>

                        <div class="section-2_211_2">

                            <div class="section-3">
                                <div class="section-3_1">
                                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                                        Nature does not arise spontaneously but needs years
                                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                        Nature does not arise spontaneously but needs years
                                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                        Nature does not arise spontaneously but needs years
                                        and years to bloom and blossom.</p>
                                </div>
                                <div class="section-3_2"></div>
                            </div>
                            <div class="section-4">
                                <div class="section-4_1"></div>
                                <div class="section-4_2">
                                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                                        Nature does not arise spontaneously but needs years
                                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                        Nature does not arise spontaneously but needs years
                                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                        Nature does not arise spontaneously but needs years
                                        and years to bloom and blossom.</p>
                                </div>
                            </div>
                            <div class="section-5">
                                <div class="section-5_1"></div>
                                <div class="section-5_2"></div>
                            </div>
                            <div class="section-6">
                                <div class="section-6_1">
                                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                                        Nature does not arise spontaneously but needs years
                                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                        Nature does not arise spontaneously but needs years
                                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                        Nature does not arise spontaneously but needs years
                                        and years to bloom and blossom.</p>
                                </div>
                                <div class="section-6_2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="section-2_212">
                        <div class="section-2_2121">
                            <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.</p>
                        </div>
                        <div class="section-2_2122"></div>
                        <div class="section-2_2123">
                            <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.</p>
                        </div>
                        <div class="section-2_2124">
                            <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                                Nature does not arise spontaneously but needs years
                                and years to bloom and blossom.</p>
                        </div>
                    </div>
                </div>

                <div class="section-2_22">
                    <p>Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.Everything we see around us, right from the moment we step outside our home is part of nature. 
                        Nature does not arise spontaneously but needs years
                        and years to bloom and blossom.</p>
                </div>

            </div>

        </div>

    </div>
</body>
</html>