<html>

<body>

    <head>
        <link rel="stylesheet" href="layout-1.css">
    </head>

    <div class="page-container">

        <!-- <div class="Sections"> -->
        <div class="part1">
            <div class="sec1">

            </div>
            <div class="sec2">

            </div>
        </div>
        <div class="part2">

        </div>

        <div class="part3">
            <div class="section3">
                <div class="sec3">

                </div>
                <div class="sec4">
                </div>
            </div>
            <div class="Section4"></div>

        </div>
        <!-- </div> -->
    </div>


</body>

</html>